@import '../../../../../variables.scss';
// .............LOGIN SIGNUP COMPONENTS CSS............

// .center-container{
//   margin-top: 30px;
//   margin-bottom: 30px;
//   border-radius: 5px;
//   -webkit-box-shadow: 0px 10px 26px 6px rgba(176,169,176,1);
//   -moz-box-shadow: 0px 10px 26px 6px rgba(176,169,176,1);
//   box-shadow: 0px 10px 26px 6px rgba(176,169,176,1);

//   .footer{
//     background-color: $theme-blue;
//     border-bottom-left-radius: 5px;
//     border-bottom-right-radius: 5px;
//     margin-top: 5px;
//     button {
//       width: 100%;
//       padding: 15px;
//       color: $white;
//       :hover{
//         color: $white!important;
//       }
//     }
//   }

//   .content-container {
//     padding: 40px 30px 25px;
//     color: $grey;
//     background-color: $white;
//     border-radius: 5px;

//     @media screen and (max-width: 998px) {
//       padding: 0 20px 25px;
//     }
//     h4{
//       position: absolute;
//       top: 15px;
//       left: 30px;
//       color: $theme-blue;
//     }
//     input,
//     select {
//       color: black;
//     }
//   }
// }
.vertical-align-center-col {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    flex: auto;
  }
  .decor-div {
    // min-height: calc(100vh - 90px);
    background-image: url('assets/common/register_banner.jpeg');
    background-repeat: round;
    background-size: cover;
    object-fit: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
  }
  .decor-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .decor-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .special-text {
      padding-top: 50px;
  }
  .logo-class {
    height:50px;
    width: 250px;
  }
  .form-section {
  display: flex;
    align-items: center;
  }