<div class="sign-up-wrapper">
    <div class="row width-100 ml-0">
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 px-0">
        <div class="decor-div text-align-left purple-background">
            <div class="width-100"><img src="./assets/common/home-logo.png" alt="image not found" class="logo-class mx-3 my-3"></div>
            <!-- <div>
              <img src="./assets/common/register_banner.jpeg" alt="image not found" class="width-100">
            </div> -->
            <div class="width-100 decor-box">
              <div class="decor-text">
                  <h5 class="text-align-center mt-5">Hoo hoo ...! Welcome to the world of spectacles</h5>
                  <p>you are only a few steps ahead</p>
                  <h4 class="special-text">Happy shopping</h4></div>
            </div>
        </div>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 form-section">
         
          <form [formGroup]="signupForm" (ngSubmit)="createAccount()" class="vertical-align-center-col">
              <h4 class="text-align-center Aileron-Bold">Create Account</h4>
              <div class="col-xs-12 col-lg-8 content-container">
                  <div class="md-input"
                  [ngClass]="{'has-error':!signupForm.controls['name'].valid && signupForm.controls['name'].touched}">
                    <input id="name" type="text" trim="blur" [formControl]="signupForm.controls['name']" appMdInput>
                    <label for="name">Name</label>
                    <small
                      *ngIf="signupForm.controls['name'].hasError('required') && signupForm.controls['name'].touched"
                      class="text-danger">Field should not be empty.
                    </small>
                    <small
                    *ngIf="signupForm.controls['name'].invalid && !signupForm.controls['name'].hasError('required') && signupForm.controls['name'].touched"
                    class="text-danger">Please enter a valid name.
                  </small>
                  </div>
                    <div class="md-input" [ngClass]="{'has-error':!signupForm.controls['mobile'].valid && signupForm.controls['mobile'].touched}">
                      <input  type="text" trim="blur" [minlength]="10" [maxlength]="10" [(ngModel)]="mobileNumber"  [formControl]="signupForm.controls['mobile']" name="mobile" appMdInput>
                      <label>Phone number</label>
                      <small *ngIf="!signupForm.controls['mobile'].valid && signupForm.controls['mobile'].touched" class="text-danger ">Please enter a valid phone number.
                      </small>
                    </div>
          
                    <div class="md-input" [ngClass]="{'has-error':!signupForm.controls['email'].valid && signupForm.controls['email'].touched || signupForm.controls['email'].hasError('duplicated')}">
                      <input type="text" trim="blur" [formControl]="signupForm.controls['email']" name="email" appMdInput>
                      <label>Email</label>
                      <small *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched" class="text-danger ">This field is required.
                      </small>
                      <small *ngIf="signupForm.controls['email'].touched && !signupForm.controls['email'].hasError('required') && signupForm.controls['email'].invalid" class="text-danger ">Please enter a valid email.
                      </small>
                    </div>
                    <div class="md-input" [ngClass]="{'has-error':!signupForm.controls['gender'].valid && signupForm.controls['gender'].touched}">
                        <select [(ngModel)]="selectedGender"  [formControl]="signupForm.controls['gender']"  name="gender" appMdInput>
                            <option *ngFor="let genderRole of genderList" [ngValue]="genderRole">{{genderRole}}</option>
                          </select> 
                        <label>Gender</label>
                        <small *ngIf="!signupForm.controls['gender'].valid && signupForm.controls['gender'].touched" class="text-danger bottom-10">
                          Field is required.
                        </small>
                      </div>
                  <div class="col-xs-12 text-center">
                      <small class=" no-outline pointer" routerLink='/auth'>
                        Already have an account? click here to <u class="purple">Login</u>
                      </small>
                  </div>
              </div>
              <div class="col-xs-12 col-lg-8 text-align-center footer mt-2 my-5">
                  <button class="button"
                          type="submit">
                    Create account
                  </button>
              </div>
              </form>
      </div>

  </div>
</div>
    