<div class="container top-30">
    <form [formGroup]="brandForm" class="brandForm">
        <div class="col-md-offset-4 col-md-8">
            <mat-form-field class="brand-full-width">
                <input matInput formControlName="name" placeholder="Brand name">
                <mat-error *ngIf="brandForm.controls['name'].hasError('required')"> Name is required
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-offset-4 col-md-8">
            <mat-form-field>
                <textarea matInput placeholder="description" formControlName="description"></textarea>
                <mat-error *ngIf="brandForm.controls['description'].hasError('required')"> Description is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field><br>
        </div> -->
        <!-- <div class="col-md-offset-4 col-md-8">
            <mat-form-field class="brand-full-width">
                <input matInput [maxLength]="2" formControlName="code" placeholder="Code">
                <mat-error *ngIf="brandForm.controls['code'].hasError('required')"> Code is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div> -->
        <div class="col-md-offset-4 col-md-8 mb-3">
            <label class="block">Media</label>
            <input accept=".jpg,.jpeg,.png" #filePick type="file" (change)="setMedia($event)" class="upload" />
            <div class="imgBlock">
                <img class="marks_img"
                    [src]="brandForm.controls['media']?.value?.url ? brandForm.controls['media']?.value?.url : '/assets/common/uploadrect.svg'"
                    (click)="filePick.click()">
            </div>
            <!-- <button mat-stroked-button type="button" class="mt-3" (click)="filePick.click()">File upload</button> -->
        </div>

        <div class="col-md-offset-4 col-md-8">
            <mat-form-field>
                <mat-select multiple placeholder="gender" formControlName="gender"
                    (selectionChange)="loadAllCategories($event)" required>
                    <mat-option *ngFor="let rootCat of rootCategoryList" [value]="rootCat?.name">{{rootCat?.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="brandForm.controls['gender'].hasError('required')"> gender is
                    required
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <div *ngIf="brandForm.controls['gender'].valid" class="col-md-offset-4 col-md-8"> -->
            <div class="col-md-offset-4 col-md-8">
            <div class="col-md-offset-12 col-md-12 noPad">
                <mat-form-field>
                    <mat-select multiple [formControl]="categoryControl" placeholder="Select Category" (selectionChange)="setChildCat($event)"
                        [errorStateMatcher]="matcher" required>
                        <mat-option *ngFor="let childCat of childCatList; let k=index" [value]="childCat?._id?._id">
                            {{childCat?._id?.path}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="center">
            <button type="button" *ngIf="!isEditMode" class="mt-5" mat-raised-button color="primary"
                (click)="createBrand()">Create Brand</button>
            <button type="button" *ngIf="isEditMode" class="mt-5" mat-raised-button color="primary"
                (click)="updateBrand()">Update Brand</button>
        </div>
    </form>
</div>