.brandForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mat-form-field {
    width: 100%;
  }
  input[type="file"] {
    display: none;
  }
  label.block {
    display: block;
  }
  .imgBlock {
    height: 10rem;
    width: 12rem;
    img {
      object-fit: contain;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
