<div class="add-store-wrapper container">
    <div class="my-5">
        <div class="mx-3 mb-3">
            <h1 *ngIf="status == 'true'" class="Aileron-Bold">Add store to frame collector</h1>
            <h1 *ngIf="status == 'false'" class="Aileron-Bold">Remove store from frame collector</h1>
        </div>
        <form [formGroup]="addStoreForm">
            <mat-form-field class="col-12 col-sm-5 col-md-5 col-lg-5">
                <input matInput placeholder="name" formControlName="name">
            </mat-form-field><br>
            <!-- add store -->
            <div *ngIf="status === 'true'" class="col-12 col-sm-5 col-md-5 col-lg-5">
                <p class="text-align-center Aileron-SemiBold">select store to be added</p>
                <mat-form-field class="width-100">
                    <mat-select multiple placeholder="select stores"  formControlName="store" >
                        <mat-option class="Aileron-Regular" *ngFor="let item of ecpUserList" (click)="storeSelection(item)" [value]="item?.ecpCust?.cust_code">{{item?.ecpCust?.store?.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="addStoreForm.controls['store'].hasError('required')"> store is required </mat-error>
                </mat-form-field>
                <p *ngIf="storeAlreadyExist" class="my-0 red custom-error"> some of the selected store already added</p>
                <button class="button" (click)="addStore()">Add store</button>
            </div>
            <!-- delete store -->
            <div *ngIf="status === 'false'" class="col-12 col-sm-5 col-md-5 col-lg-5">
                <p class="text-align-center Aileron-SemiBold">select store to be Removed</p>
                <mat-form-field class="width-100">
                    <mat-select multiple placeholder="select stores"  formControlName="store">
                        <mat-option class="Aileron-Regular" *ngFor="let item of myStoreList" (click)="storeDelete(item)" [value]="item.cust_code">{{item?._id?.ecpCust?.store?.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="addStoreForm.controls['store'].hasError('required')"> select store to be deleted</mat-error>
                </mat-form-field>
                <button class="button" (click)="deleteStore()">Delete store</button>
            </div>
        </form>
    </div>
</div>
