<div class="frame-lookup-material-wrapper container">
    <div class="row width-100 mx-0">
        <div class="col-12 col-md-6 col-lg-6 px-0"></div>
        <div class="col-12 col-md-6 col-lg-6 text-align-right px-0">
            <button class="button" (click)="addframeMaterialModal(addFrameModel)">Create</button>
        </div>
    </div>
    <div class="mt-5">
        <table *ngIf="frameModelList?.length > 0">
            <tr class="purple-background">
                <th>Name</th>
                <th>Model Code</th>
                <th>Code</th>
            </tr>
            <tr *ngFor="let items of frameModelList">
                <td>{{items?.name}}</td>
                <td>{{items?.modelCode}}</td>
                <td>{{items?.code}}</td>
            </tr>
        </table>
        <div *ngIf="frameModelList?.length <= 0">
            <h3 class="noContent">No Records Found !!</h3>
        </div>
    </div>
</div>
<ng-template #addFrameModel>
        <div class="modal-header">
            <p class="modal-title pull-left">Create</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="add-frame-modal-wrapper text-align-center">
                <div class="my-5">
                    <form [formGroup]="frameModelForm" class=" mx-3">
                        <mat-form-field class="width-100">
                            <input  matInput placeholder="Name" formControlName="name" maxlength="30" [errorStateMatcher]="matcher" required>
                            <mat-error *ngIf="frameModelForm.controls['name'].hasError('required')"> name is required </mat-error>
                            <mat-error *ngIf="frameModelForm.controls['name'].hasError('pattern')">only text no special character and Number</mat-error>
                        </mat-form-field>
                        <mat-form-field class="width-100">
                                <input  matInput placeholder="Model Code" maxlength="30" formControlName="modelCode" [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="frameModelForm.controls['modelCode'].hasError('required')"> Model Code is required</mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field class="width-100">
                            <input matInput placeholder="Code" type="text" [maxlength]="1" formControlName="code" [errorStateMatcher]="matcher" (keyup)="checkCodeAvailability($event)" required>
                            <mat-error *ngIf="frameModelForm.controls['code'].hasError('required')"> code is <strong>required</strong></mat-error>
                        </mat-form-field>
                        <p *ngIf="codeExist" class="red custom-error">code exist</p> -->
                        <button mat-raised-button type="button" class="button mt-5 px-3"
                                [disabled]="frameModelForm.invalid" (click)="createMaterial()">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>