<div class="tabs-wrapper top-30">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Frame Colour">
            <app-frame-lookup-colour></app-frame-lookup-colour>
        </mat-tab>
        <mat-tab label="Frame Model">
            <app-frame-lookup-model></app-frame-lookup-model>
        </mat-tab>
        <mat-tab label="Frame Material">
          <app-frame-lookup-material></app-frame-lookup-material>
        </mat-tab>
        <mat-tab label="Frame Type">
            <app-frame-lookup-type></app-frame-lookup-type>
        </mat-tab>
        <mat-tab label="Frame Shape">
            <app-frame-lookup-shape></app-frame-lookup-shape>
        </mat-tab>
    </mat-tab-group>
</div>
