.noContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 30px;
    color: #cdcdcd;
    text-transform: uppercase;
    letter-spacing: 0.751rem;
  }
 