
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    width: 45px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 16px;
    right: 29px;
    left: 3px;
    bottom: 4px;
    background-color: #ee4036;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #46196f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #46196f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  td {
    @media screen and (min-width: 1025px){
      max-width: 100px; 
      word-wrap: break-word;
    }
  }