<div class="frame-collector-list-wrapper col-12">
  <h4 class="my-5" *ngIf="!isLoggedInUserECP">Select the store to see the frame collectors</h4>
  <h4 class="my-5" *ngIf="isLoggedInUserECP">Frames List</h4>
  <div class="row width-100 mx-0">
    <div
      *ngIf="isLoggedInUserAdmin"
      class="col-12 col-sm-6 col-md-6 col-lg-6 px-0"
    >
      <mat-form-field class="col-12 col-md-6 col-lg-6 px-0">
        <mat-select
          placeholder="select stores"
          (selectionChange)="storeSelection($event)"
        >
          <mat-option
            class="Aileron-Regular"
            *ngFor="let list of userDataList"
            [value]="list?._id"
            >{{ list?.ecpCust?.store?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-align-right px-0"
      *ngIf="showTable && frameCollectorsDetails?.length > 0">
      <mat-form-field class="col-12 col-md-6 col-lg-6 px-0">
        <mat-select placeholder="Filter by" [(value)]="selected">
          <mat-option
            *ngFor="let filter of filters"
            [value]="filter"
            (click)="filterBy(filter)"
            >{{ filter }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="my-5" *ngIf="showTable">
    <div *ngIf="frameCollectorsDetails?.length <= 0">
        <h3 class="noContent">No Records Found !!</h3>
    </div>
    <div *ngIf="frameCollectorsDetails?.length > 0" class="row bottom-20 pull-right right-10">
          <button  class="button" (click)="isSelectedAll = !isSelectedAll;toggleSelectedAll()">{{ isSelectedAll ? 'Clear All' : 'Select All' }}</button>
          <button *ngIf="isSelectedAll" class="button left-10" (click)="updateAllFrameStatusOfSelECP(true, 'Approve All')">Approve All</button>
          <button *ngIf="isSelectedAll" class="button left-10" (click)="updateAllFrameStatusOfSelECP(false, 'Reject All')">Reject All</button>
    </div>
    <div *ngIf="frameCollectorsDetails?.length > 0" class="row table-container container-fluid text-center">
        <table  class="table" style="width:100%;" border="1" cellspacing="0" cellpadding="2">
            <thead>
                <tr>
                  <th *ngIf="isSelectedAll"></th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile</th>
                  <th>Frame Id</th>
                  <th>Tag Name</th>
                  <th>Frame Image</th>
                  <th *ngIf="!isSelectedAll">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of frameCollectorsDetails; let i = index">
                    <td *ngIf="isSelectedAll"><div class="fa pull-right" [ngClass]="{'fa-check': list?.isSelected }"></div></td>
                    <td data-label="Name">{{ list?.frameCollectorId?.name }}</td>
                    <td data-label="Email">{{ list?.frameCollectorId?.email }}</td>
                    <td data-label="Mobile">{{ list?.frameCollectorId?.mobile }}</td>
                    <td data-label="Frame Id">{{ list?.frameID }}</td>
                    <td data-label="Tag Name">{{ list?.tagName }}</td>
                    <td data-label="Frame Image" class="text-align-center" style="height: 100px;">
                        <span class="block pointer" outsideClick="true"
                            (click)="imagePopUpView(imageModel,list?.media?.url)">
                            <img src="{{ list?.media?.url }}" height="50px" alt="{{ list?.tagName }}" />
                        </span>
                      </td>
                    <td *ngIf="!isSelectedAll" data-label="Status">
                          <label
                          class="switch"
                          data-toggle="tooltip"
                          data-placement="right"
                          title="{{ list.status.isApproved }} ? APPROVED : REJECTED"
                          >
                          <input
                          type="checkbox"
                          [checked]="list.status.isApproved"
                          (change)="
                          toggle(selectedStoreID, list?.frameID, list.status.isApproved)
                          "
                          />
                          <span class="slider round"></span>
                      </label>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>
    <!-- <table class="table-container" *ngIf="frameCollectorsDetails?.length > 0">
      <tr class="purple-background">
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Frame Id</th>
        <th>Tag Name</th>
        <th>Frame Image</th>
        <th>Status</th>
      </tr>
     
    
      <tr *ngIf="filterFlag">
        <td>{{ tableDataList?.frameCollector?.name }}</td>
        <td>{{ tableDataList?.frameCollector?.email }}</td>
        <td>{{ tableDataList?.frameCollector?.mobile }}</td>
        <td>{{ tableDataList?.store?.frame?.frameID }}</td>
        <td>{{ tableDataList?.store?.frame?.tagName }}</td>
        <td class="text-align-center">
          <img
            src="{{ tableDataList?.store?.frame?.media?.url }}"
            height="50px"
            alt="{{ tableDataList?.store?.frame?.tagName }}"
          />
        </td>
        <td>
          <label
            class="switch"
            data-toggle="tooltip"
            data-placement="right"
            title="{{
              tableDataList?.store?.frame?.status.isApproved
            }} ? APPROVED : REJECTED"
          >
            <input
              type="checkbox"
              [checked]="tableDataList?.store?.frame?.status.isApproved"
              (change)="
                toggle(
                  selectedStoreID,
                  tableDataList?.store?.frame?.frameID,
                  tableDataList?.store?.frame?.status.isApproved
                )
              "
            />
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </table> -->
  </div>
</div>

<ng-template #imageModel>
<div class="imagePopWrapper">
    <img src="{{viewImageUrl}}" class="width-100" alt="image not found">
</div>
</ng-template>
