<!-- <app-shared-header [sideNav]="sideNav"></app-shared-header>
<div class="app-body">
  <mat-sidenav-container [hasBackdrop]="overlay"  class="side-nav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      class="example-sidenav"
      [ngStyle]="{ 'width.em': sidenavWidth }"
      opened="true"
      (mouseenter)="increase()"
      (mouseleave)="decrease()"
    >
      <mat-nav-list>
        <div *ngFor="let menu of navBarMenuList; let i = index" >
            <mat-list-item  *ngIf ="menu.access.indexOf(userRole) > -1" [routerLink]="menu.routeLink" [routerLinkActive]="['active']" (click)="closeOnClick()">
                <div class="side-nav-list">
                    <mat-icon mat-list-icon>{{menu?.icon}}</mat-icon>
                    <div fxFlex="10"></div>
                    <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                      <h5 class="lead">{{ menu.name }}</h5>
                    </div>
                </div>
              </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content width="100%">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
<!-- sidebar menu -->
<div class="main_menu">
  <div class="menu-section">
      <div class="profile">
          <p class="colorOrange">Hi {{userObj?.name}}!</p>
      </div>
      <ul class="nav side-menu" > 
          <li class="nav-item" *ngFor="let menu of navBarMenuList;let i =index;">  
              <!-- [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" -->
              <a class="nav-link" [routerLink]="menu.routeLink">
                  <!-- <img *ngIf="menu?.icon" src="{{menu?.icon}}"> -->
                  <mat-icon mat-list-icon>{{menu?.icon}}</mat-icon>
                  <span class="left-10" [ngClass]="menu?.icon ? 'colorWhite': 'colorOrange'">{{menu?.name}}</span>
              </a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item">
              <button class="btn nav-link" (click)="logout()"><i class="fa fa-unlock-alt right-10"></i><span>Logout</span></button>
          </li>
      </ul>
  </div>
</div>
<!-- /sidebar menu -->
