@import '../../../../variables.scss';

.app-body {
    // min-height: calc(100vh - 50px);
    min-height: calc(100vh - 112px);
    display: flex;
    position: relative;
    // top: 50px;
  }
  .side-nav-item {
    padding: 1.75rem 0;
    cursor: pointer;
    display: flex;
    width: 10px;
    height: 10px;
  }
  .side-nav-list{
    display: flex;
    .sidenav-item{
      position: relative;
      top: 5px;
      left: 10px;
    }
  }
  .mat-icon{
    position: relative;
    top: 5px;
  }
  
//   .side-nav-container {
//     box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.21);
//   }