@import '../../../../../variables.scss';

tr:hover {
  background-color: #cdcdcd54;
  transition: all 0.25s linear;
  opacity: 1;
}
.frameId_wrapper{
  margin-bottom: 60px;;
}
tr.mat-header-row {
  background-color: #46196f;
  text-transform: uppercase;
  letter-spacing: 1px;
}
th {
  border-left: 1px solid #cdcdcd;
}
th.mat-header-cell {
  text-align: center;
  color: white;
}
td{
  text-align: center;
}

input[type="file"] {
  display: none;
}
label.block {
  display: block;
  text-align: left;
}
span.block {
  height: 40px;
  margin: 5px 0px;
  border: 1px solid #f9f9f9;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.width-100,
img.marks_img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.imagePopWrapper {
  height: 50vh;
  width: 100%;
}
.imgBlock {
  height: 250px;
  width: 250px;
}
.search-item{
  .mat-form-field {
      width: 100%;
  }
  .input-group-btn{
      position: relative;
      top: -5px;
      float: right;
      button{
          border-radius: 0 !important;
          cursor: pointer;
          display: contents;
      }
  }
  .fa-search{
      color: $theme-purple;
  }
}
