<div class="frameId_wrapper col-12  ">
    <div class="row top-30">
        <div class="col-md-12">
            <button mat-raised-button class="pull-right add-btn" (click)="addFrameIdModel(addFrameId, null)">+ Add
                Frame</button>
        </div>
    </div>
    <div *ngIf="!dataSource?.length">
        <h3 class="noContent">No Records Found !!</h3>
    </div>

    <div *ngIf="dataSource.length">
        <table mat-table [dataSource]="dataSource" class="width-100 top-30">
            <!-- Store Column -->
            <ng-container matColumnDef="storeName">
                <th mat-header-cell *matHeaderCellDef class="Aileron-Bold">Store </th>
                <td mat-cell *matCellDef="let element" class="Aileron-Regular">
                    {{element?.store?.ecpUserId?.ecpCust?.store?.name}} </td>
            </ng-container>

            <!-- image Column -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef class="Aileron-Bold">Image </th>
                <td mat-cell *matCellDef="let element" placement="right">
                    <span class="block pointer" *ngFor="let frame of element?.store?.frame" outsideClick="true"
                        (click)="imagePopUpView(imageModel,frame.media.url)">
                        <!-- {{frame.media.url}} -->
                        <img src="{{frame.media.url}}" width="30px" height="30px"
                            alt="{{element?.store?.ecpUserId?.ecpCust?.store?.name}}">
                    </span>
                </td>
            </ng-container>

            <!-- Frame Id Column -->
            <ng-container matColumnDef="frameID">
                <th mat-header-cell *matHeaderCellDef class="Aileron-Bold"> Frame Id </th>
                <td mat-cell *matCellDef="let element" class="Aileron-Regular">
                    <span class="block" *ngFor="let frame of element.store.frame">
                        {{frame.frameID}}
                    </span>
                </td>
            </ng-container>

            <!-- Tag Column -->
            <ng-container matColumnDef="tag">
                <th mat-header-cell *matHeaderCellDef class="Aileron-Bold"> Tag Name </th>
                <td mat-cell *matCellDef="let element" class="Aileron-Regular">
                    <span class="block" *ngFor="let frame of element.store.frame">
                        {{frame.tagName}}
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- <mat-paginator *ngIf="totalItem !== 0" [length]="100" [pageSize]="10" (page)="onPageEvent($event)">
        </mat-paginator> -->

    </div>
</div>
<ng-template #imageModel>
    <div class="imagePopWrapper">
        <img src="{{viewImageUrl}}" class="width-100" alt="image not found">
    </div>
</ng-template>

<ng-template #addFrameId data-backdrop="static" data-keyboard="false" >
    <div class="modal-header" >
        <p class="modal-title pull-left">{{isEditMode ? 'UPDATE FRAME' : 'ADD FRAME' }}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); frameCollectionForm.controls.cust_code.enable()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body student-details">
        <div class="add-frame-modal-wrapper text-align-center">
            <div class="my-5">
                <form [formGroup]="frameCollectionForm" class=" mx-3">
                    <div class="input-group search-item">
                        <mat-form-field>
                                <input  matInput placeholder="Enter Store customer code" formControlName="cust_code"
                                [errorStateMatcher]="matcher"
                                (keyup.enter)="selectStore(frameCollectionForm.controls['cust_code'].value)" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" (click)="selectStore(frameCollectionForm.controls['cust_code'].value)" (keypress)="selectStore(frameCollectionForm.controls['cust_code'].value)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                <!-- <mat-label>Select store</mat-label>
                                <mat-select [errorStateMatcher]="matcher" required>
                                    <mat-option *ngFor="let store of storeInfo" (click)="selectStore(store)" [value]="store">
                                        {{store.name}}
                                    </mat-option>
                                </mat-select> -->
        
                                <mat-error *ngIf="frameCollectionForm.controls['cust_code'].hasError('required')"> Store Customer Code is
                                    required
                                </mat-error>
                            </mat-form-field>
                    </div>
                    <div *ngIf="storeExist">
                        <mat-form-field class="width-100">
                            <input matInput placeholder="Enter Frame id" formControlName="frameId"
                                [errorStateMatcher]="matcher" required>
                            <mat-error *ngIf="frameCollectionForm.controls['frameId'].hasError('required')"> Frame id
                                is required
                            </mat-error>
                        </mat-form-field><br>

                        <div>
                            <label class="block">Media</label>
                            <input accept=".jpg,.jpeg,.png" #filePick type="file" (change)="setMedia($event)" class="upload"
                                required />
                            <mat-error *ngIf="frameCollectionForm.controls['media'].hasError('required') && frameCollectionForm.controls['media'].touched"> Image
                                is required
                            </mat-error>
                            <div class="imgBlock">
                                <img class="marks_img" [src]="imagePreview ? imagePreview : '/assets/common/uploadrect.svg'"
                                    (click)="filePick.click()">
                            </div>
                        </div>
                        <button mat-raised-button type="button" class="button mt-5 px-3"
                            [disabled]="frameCollectionForm.invalid" (click)="addFrame()">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>