<!-- sidebar menu -->
<div class="main_menu">
    <!-- <button class="close-btn" (click)="isCollapsedToggle()"><i class="fa fa-times"></i></button> -->
    <div class="menu-section">
        <div class="profile">
            <p class="colorOrange">Hi {{userObj?.name}}!</p>
        </div>
        <ul class="nav side-menu" > 
            <li class="nav-item" *ngFor="let menu of navBarMenuList;let i =index;">  
                <!-- [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" -->
                <a class="nav-link" [routerLink]="menu.routeLink">
                    <img *ngIf="menu?.icon" src="{{menu?.icon}}">
                    <span class="left-10" [ngClass]="menu?.icon ? 'colorWhite': 'colorOrange'">{{menu?.name}}</span>
                </a>
            </li>
            <li *ngIf="authService.loggedIn()" class="nav-item">
                <button class="btn nav-link" (click)="logout()"><i class="fa fa-unlock-alt right-10"></i><span>Logout</span></button>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->