@import '../../../../variables.scss';

.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: absolute
}

.nav-sm .container.body .col-md-3.left_col.menu_fixed {
    position: fixed;
    height: 100%
}

.nav-sm .container.body .col-md-3.left_col .mCSB_container,
.nav-sm .container.body .col-md-3.left_col .mCustomScrollBox {
    overflow: visible
}

.overflow_hidden,
.sidebar-widget,
.site_title,
.tile,
.weather-days .col-sm-2,
.x_title h2,
table.tile_info td p {
    overflow: hidden
}

.nav-sm .container.body .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2
}

.nav-sm .navbar.nav_title {
    width: 70px
}

.nav-sm .navbar.nav_title a span {
    display: none
}

.nav-sm .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px
}


.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2
}

.nav-sm .nav.side-menu li a {
    text-align: center!important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #1ABB9C
}

.nav-sm .nav.side-menu li.active-sm ul ul,
.nav-sm ul.nav.child_menu ul {
    position: static;
    width: 200px;
    background: 0 0
}

.nav-sm>.nav.side-menu>li.active-sm>a {
    color: #1ABB9C!important
}

.nav-sm .nav.side-menu li a i.toggle-up {
    display: none!important
}

.nav-sm .menu_section h3,
.nav-sm .profile,
.nav-sm span.fa {
    display: none
}

.nav-sm .nav.side-menu li a i {
    font-size: 25px!important;
    text-align: center;
    width: 100%!important;
    margin-bottom: 5px
}

.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none
}

.nav-sm ul.nav.child_menu li {
    padding: 0 10px
}

.nav-sm ul.nav.child_menu li a {
    text-align: left!important
}

.menu_section {
    margin-bottom: 35px
}

.menu_section h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000
}

.menu_section>ul {
    margin-top: 10px
}

.main_menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA
}

.nav-sm .menu_section {
    margin: 0
}

.nav-sm li li span.fa {
    display: inline-block
}

.nav_menu {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative
}

@media (min-width:480px) {
    .nav_menu {
        position: static
    }
}

.nav-md .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1
}

.nav-md .container.body .col-md-3.left_col.menu_fixed {
    height: 100%;
    position: fixed
}

body .container.body .right_col {
    background: #F7F7F7
}

.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 230px
}

.nav_title {
    width: 230px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px
}

@media (max-width:991px) {
    .nav-md .container.body .right_col,
    .nav-md .container.body .top_nav {
        width: 100%;
        margin: 0
    }
    .nav-md .container.body .col-md-3.left_col {
        display: none
    }
    .nav-md .container.body .right_col {
        width: 100%;
        padding-right: 0
    }
    .right_col {
        padding: 10px!important
    }
}

.top_nav .nav .open>a,
.top_nav .nav .open>a:focus,
.top_nav .nav .open>a:hover,
.top_nav .nav>li>a:focus,
.top_nav .nav>li>a:hover {
    background: #D9DEE4
}

body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}

.main_container .top_nav {
    display: block;
    margin-left: 230px
}

.no-padding {
    padding: 0!important
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
:active,
:focus,
:visited,
a,
a:active,
a:focus,
a:visited {
    outline: 0
}

.navbar {
    margin-bottom: 0
}

.navbar-header {
    background: #34495E
}

.navbar-right {
    margin-right: 0
}

.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right
}

.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static
}

@media (min-width:480px) {
    .top_nav .navbar-right li {
        position: relative
    }
}

.top_nav .dropdown-menu li {
    width: 100%
}

.top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px
}

.top_nav li a i {
    font-size: 15px
}

.navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%
}

.sidebar-header {
    border-bottom: 0;
    margin-top: 46px
}

.sidebar-header:first-of-type {
    margin-top: 0
}

.nav.side-menu>li {
    position: relative;
    display: block;
    cursor: pointer
}

.nav.side-menu>li>a {
    margin-bottom: 6px
}

.nav.side-menu>li>a:hover {
    color: #F2F5F7!important
}

.nav.side-menu>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background: 0 0
}

.nav.child_menu {
    display: none
}

.nav.child_menu li.active,
.nav.child_menu li:hover {
    background-color: rgba(255, 255, 255, .06)
}

.nav.child_menu li {
    padding-left: 36px
}

.nav-md ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0
}

.nav.top_menu>li>a,
.nav>li>a {
    position: relative;
    display: block
}

.nav.child_menu>li>a,
.nav.side-menu>li>a {
    color: #E7E7E7;
    font-weight: 500
}

.nav li li.current-page a,
.nav.child_menu li li a.active,
.nav.child_menu li li a:hover {
    color: #fff
}

.nav.child_menu li li.active,
.nav.child_menu li li:hover {
    background: 0 0
}

.nav>li>a {
    padding: 13px 15px 12px
}

.nav.side-menu>li.active,
.nav.side-menu>li.current-page {
    border-right: 5px solid #1ABB9C
}

.nav li.current-page {
    background: rgba(255, 255, 255, .05)
}

.nav li li li.current-page {
    background: 0 0
}

.navbar-brand,
.navbar-nav>li>a,
.site_title {
    color: #ECF0F1!important;
    margin-left: 0!important
}

.nav.side-menu>li.active>a {
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0
}

.navbar-brand,
.navbar-nav>li>a {
    font-weight: 500;
    line-height: 32px
}

.site_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px
}

.nav.navbar-nav>li>a {
    color: #515356!important
}

.nav.top_menu>li>a {
    padding: 10px 15px;
    color: #34495E!important
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent
}


.main_menu_side {
    padding: 0
}

*,
:after,
:before {
    box-sizing: border-box
}

h2 {
    font-size: 18px;
    font-weight: 400
}

.dropdown-menu {
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.dropdown-menu>li>a {
    color: #5A738E
}

.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px
}

.navbar-nav .open .dropdown-menu.msg_list {
    width: 300px
}


.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px
}

.button {
    background: #f7f9fa;
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0
}


.button a {
    background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    transition: all .3s ease
}

.button a:hover {
    background-position: 0 -135px;
    color: white;
}

.main_menu .label {
    line-height: 11px;
    margin-top: 4px
}

.main_menu{
    background: $theme-purple;
    color: white;
    min-height: 100vh;
    @media screen and (max-width: 991px){
        width: 200px !important;
    }
    .profile{
        text-align: center;
        position: relative;
        top: 22px;
        color: white;        
        .fa{
            font-size: 9em;
        }
        p{
            margin-top: 10px;
            font-weight: bold;
            font-size: 16px;
        }
    }
    .close-btn {
        float: right;
        border:none;
        background: transparent;
        margin-top: 5px;
        .fa {
            color: white;
            font-size: 30px;
        }
    }
    .menu-section {
        .logo {
            border-radius: 50%;
            height: 150px;
            width: 150px;
            position: relative;
            top: 38px;
            text-align: center;
            left: 13%;
        }
        .nav.side-menu{
            padding-top: 15%;
            border-bottom: none;
            .nav-item{
                border: none;
                width: 100%;
                padding: 5px;
                //height: 50px;
                a{
                    text-align: center!important;
                    font-weight: bold;
                    font-family: Muli;
                    font-size: 15px;
                    padding: 5px;
                    color: white;
                    border: none;
                    box-shadow: none;
                    margin-bottom: 0px;
                    i{
                        margin-right: 10px;
                    }
                    img {
                        width: 20px;
                    }
                    span{
                        display: inline-block;
                        min-width: 100px;
                    }
                }
                &:hover, &:focus, { //change colour
                    background: #561f87 ;
                    border-right: none !important;
                    border-bottom: none;
                }
                .active {
                    background: red;
                }
                .btn {
                    text-align: center!important;
                    font-weight: bold;
                    font-family: Muli;
                    font-size: 15px;
                    color: white;
                    box-shadow: none;
                    background: transparent;
                    width: 100%;
                    padding: 10px;
                    height: auto;
                    &:hover, &:focus, {
                        background: #561f87;
                        // border-bottom: 1px solid $blue;
                        color: $Orange;
                    }
                }
            }
        }
    }    
}
.colorOrange {
    color: $Orange;
}
.colorWhite {
    color: white;
}
