<!-- <nav class="main-header">
  <a>
    <img
      class="menu-image pointer"
      (click)="toggleSideNav()"
      src="./assets/common/menu_x.svg"
      alt="image not found"
    />
  </a>
  <a [routerLink]="['/']" class="logo pointer"><img src="./assets/common/home-logo.png"></a>
  <div *ngIf="!authService?.loggedIn()"class="pull-right">
      <button class="btn" [routerLink]="['/auth']">Login</button>
    </div>
    <div class="btn-group tab-right-sec" dropdown>
        <button dropdownToggle type="button" class="btn dropdown-toggle">
          <span><i class="fa fa-user-circle-o" aria-hidden="true"></i><span class="profile-name">Hi {{username}} </span> </span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-basic">
          <li *ngIf="authService?.loggedIn()" role="menuitem" (click)="logout()"><a class="dropdown-item">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="side-nav-container">
  <div class="side-nav" [ngClass]="isIn ? 'open' : ''">
      <app-side-nav ></app-side-nav>            
    </div>
</div> -->
<nav class="customer-header main-header">
  <a *ngIf="authService.loggedIn()" (clickOutside)="isIn = false;isCollapsedToggle()" class="navbar-brand pointer">
    <img class="menu-image" #navbarToggler (click)="isIn = !isIn;isCollapsedToggle()" src="./assets/common/menu_x.svg" alt="image not found">
  </a>
  <a [routerLink]="['/']" class="logo pointer"><img src="./assets/common/home-logo.png"></a>
  <div *ngIf="!authService?.loggedIn()"class="pull-right">
      <button class="btn color-white" [routerLink]="['/auth']">Login</button>
  </div>
</nav>

<div class="side-nav-container">
    <div class="side-nav" [ngClass]="isIn ? 'open' : ''">
        <app-side-nav ></app-side-nav>            
      </div>
</div>
