@import '../../../../variables.scss';

.main-header {
    padding: 21px 1rem !important;
    position: sticky;
    top: 0;
    background-color: $theme-purple;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 9999;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 480px){
        padding-left: 5px;
        padding-right: 5px;
    }
}
.menu-image {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 11px;
    // left: 18px;
}
.title-text {
    text-align: center;
    padding-top: 10px;
}
.logo{
    position: relative;
    left:25px;
    img {
        width: 200px;
        // @media screen and (max-width: 480px){
        //     width: 120px !important;
        // }
        // @media screen and (min-width: 481px ) and (max-width:768px){
        //     width: 150px !important;
        // }
        @media screen and (max-width:768px){
            width: 150px !important;
        }
    }
}
.tab-right-sec {
    float: right;
    right: 10px;
    @media screen and (max-width: 480px){
        right: 0px;
    }
    .btn {
        background: transparent;
        box-shadow: none;
        font-family: Muli;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 0.05em;
        color: white;
        @media screen and (max-width: 480px){
            font-size: 12px;
        }
        .fa {
            font-style: normal;
            font-weight: normal;
            font-size: 2.5em;
            line-height: 31px;
            position: relative;
            top: 3px;
            @media screen and (max-width: 480px){
                font-size: 2em;
            }
        }
        .profile-name {
            position: relative;
            left: 8px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
            margin-right: 5px;
            @media screen and (max-width: 480px){
                top: 3px;
            }
        }
    }
    .dropdown-menu {
        padding: 0px;
        border: none;
        li {
            padding: 0px;
            text-align: center;
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
        }
    }
    .dropdown-menu > li > a {
        padding: 5px 20px;
            &:hover,
            &:focus {
                background: $theme-purple;
                color: #fff;
        }
    }
}

.logo{
    img {
        width: 200px;
        @media screen and (max-width:768px){
            width: 150px;
        }
    }
}