@import "../../../../../variables.scss";

.customer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $theme-purple;
  padding: 10px 5px 10px 5px;
}
.menu-image {
  width: 30px;
  height: 30px;
  // position: relative;
  // top: 57px;
}
.title-text {
  text-align: center;
  padding-top: 10px;
  // color: white;
}
.logo {
  img {
    width: 200px;
    @media screen and (max-width: 768px) {
      width: 150px;
    }
  }
}
.detail-view {
  .product-title {
    color: #878787;
    font-size: 16px;
    display: block;
    font-weight: 500;
  }
  .product-sub-title {
    padding: 0;
    line-height: 1.4;
    font-size: inherit;
    font-weight: inherit;
  }
  .product-price {
    display: inline-block;
    font-weight: 500;
    color: #f48120;
    font-size: 32px;
  }
  .product-discription {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    //  background-color: #329c92;;
  }
}
// .sider:hover img {
//   border: 2px solid #6c4884;
//   padding: 5px;
//   animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
// }
.activeClass {
  border: 2px solid #6c4884;
  animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
}
.color-circle {
  border-radius: 30px;
  width: 20px;
  height: 20px;
  outline: none;
}
.size-button {
  border: 1px solid #6c4884;
  background-color: transparent;
  outline: none;
  padding: 5px;
  cursor: pointer;
}
.highlight {
  background-color: #46196f;
  color: #f9f9f9;
  transition: all 0.2s linear;
}
.highlights {
  box-shadow: 1px 1px 9px 2px rgba(181, 116, 219, 1) !important;
}

// desktop view
.desktop {
  &__mainImg,
  &__defaultImg {
    height: 500px;
    width: 100%;
  }
  &__width-100 {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    padding: 10px;
    // border: 1px solid #46196f;
  }
  &__prdocutDesc {
    font-size: 20px;
    letter-spacing: 2px;
    color: #46196f;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
  }
  &__sizeDetails {
    margin: 20px 0px;
  }
  &__sizes {
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  &__ratings {
    color: #cdcdcd;
  }
  &__checked {
    color: #ee4036;
  }
  .desktop__buttons {
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;;
    flex-wrap: wrap;
    .btn {
      width: 220px;
      display: inline-block;
      outline: none;
      border: none;
      transition-delay: 0.25s;
      margin-right: 10px;
      transition: all 0.5s linear;
      text-align: center;
      border: 1px solid #ccc;
      font-size: 16px;
      border-radius: 0px !important;
      letter-spacing: initial;
      text-transform: uppercase;
      &.addBtn {
        background: #00a2d8;
        color: #fff;
      }
    }
    .wishlist,
    .addBtn{
      margin-bottom: 20px;
    }
    .wishlist:hover .btn {
      background-color: #f9f9f9;
      padding: .375rem 0px;
    }
  }
}

// Mobile-view
.mobileView {
  display: none;
  padding: 25px;
  margin: 0 auto;
}

.imgBlock {
  width: auto;
  display: block;
  margin-bottom: 25px;
  .defaultImg {
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      border-radius: 25px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    }
  }
}
h5.mt-5 {
  letter-spacing: 1px;
}

.prdocutDesc {
  padding: 10px;
  border: 1px solid #46196f;
  border-radius: 25px;
  .heading {
    font-size: 20px;
    letter-spacing: 2px;
    color: #46196f;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
  }
  span.fa.fa-star.checked {
    color: #ee4036;
  }
  span.fa.fa-star {
    margin-right: 5px;
  }
}
.color {
  color: #46196f;
  font-weight: 600;
  letter-spacing: 1px;
}
.colors {
  color: #46196f;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: bottom;
  cursor: pointer;
  transition: all 0.5s linear;
  border-radius: 50% !important;
}
span.colors.orange {
  background: orange;
}
span.colors.black {
  background: #000;
}

.pricing {
  .price {
    font-weight: bold;
    letter-spacing: 1px;
    color: #46196f;
  }
  .offer {
    color: #ee4036;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.sizeDetails {
  color: #46196f;
  letter-spacing: 2px;
  font-weight: 400;
  .sizes {
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
  }
}
.pointer {
  height: 100px;
  width: 150px;
  margin: 0px 10px;
  transition: all 0.5s linear;
}
.mainImg,
.defaultImg {
  height: 300px;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.width-100 {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  padding: 5px;
}
.flex {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .mobileView {
    display: block;
  }
  .desktop {
    &__buttons{
      justify-content: center !important;
    }
    &__defaultImg,
    &__mainImg{
      height: 300px !important;
    }
    .pointer{
      height: 90px;
      width: 90px;
    }
  }
 
  // .main-div {
  //   display: none;
  // }
}
.product-image-dk {
  opacity: 0;
  visibility: hidden;
  display: none;
  @media screen and (min-width: 992px){
    opacity: 1;
    visibility: visible;    
    display: block;
  }
}
.product-image-mb {
  opacity: 0;
  visibility: hidden;
  display: none;
  @media screen and (max-width: 991px){
    opacity: 1;
    visibility: visible;    
    display: block;
  }
}
.visible {
  display: block;
}

.hidden {
  display: none;
}