<div class="main-div">
  <app-header (clickOutside)="isIn = false;isCollapsedToggle()"></app-header>
  <!-- START DESKTOP VIEW -->
  <div class="product-details-wraper container desktop top-30">
    <div class="row noMargin width-100">
      <div class="col-md-6">
        <div class="imgBlock product-image-dk">
          <div class="desktop__defaultImg" *ngIf="defaultImage">
            <img src="{{coverImage ? coverImage : '../../../../../assets/common/no-image.jpg'}}" alt="glass" class="desktop__width-100">
          </div>
          <div *ngIf="!defaultImage" class="desktop__mainImg">
            <img src="{{bigerImageView ? bigerImageView : '../../../../../assets/common/no-image.jpg'}}" alt="glas" class="desktop__width-100">
          </div>
          <div class="flex" *ngIf="mediaImage?.length > 0">
            <div *ngFor="let media of mediaImage;let i = index" (mouseenter)="imageDetails(media?.image,i, true)"
              (click)="imageDetails(media?.image,i, true)" class="pointer sider nav-images">
              <img src={{media?.image}} class="width-100" [ngClass]="{'activeClass': imageIndex === i}"
                alt="{{i}}image not found">
            </div>
          </div>
        </div>
         <!-- mobile only -->
         <div class="product-image-mb" *ngIf="mediaImage?.length > 0">
            <div class="single-thumbnail-slider">
                <carousel #carousel
                (activeSlide)="0" [showIndicators]="true" data-interval="false">
                    <slide *ngFor="let media of mediaImage; let i=index"
                    (swipeleft)="swipe(i, $event.type)" (swiperight)="swipe(i, $event.type)" [class.visible]="media.visible" [class.hidden]="!media.visible">
                        <img [src]="media.image" alt="image slide" style="width:100%;object-fit: scale-down;">
                    </slide>
                </carousel>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="desktop__prdocutDesc">
          <div class="mb-2 heading">{{selPrdtDetails?.name}}</div>
          <div class="mb-2">
            <span class="fa fa-star desktop__ratings desktop__checked"></span>
            <span class="fa fa-star desktop__ratings desktop__checked"></span>
            <span class="fa fa-star desktop__ratings desktop__checked"></span>
            <span class="fa fa-star desktop__ratings"></span>
            <span class="fa fa-star desktop__ratings"></span>
          </div>
        </div>
        <div class="pricing bottom-20">
          <div class="price mb-2">₹ {{selPrdtDetails?.pricing?.sellingPrice}}</div>
          <div class="offer mb-2" *ngIf="selPrdtDetails?.pricing?.discountPerc">{{selPrdtDetails?.pricing?.discountPerc}}% offer</div>
          <div class="offer mb-2" *ngIf="selPrdtDetails?.pricing?.discountPerc">{{selPrdtDetails?.pricing?.discountPerc}}% offer with lens free</div>
        </div>
        <div class="mb-2">
          <span class="color">Colours:</span>
          <span *ngFor="let prodAtr of selPrdtDetails?.prdt_attributes; let i = index;"
            (mouseover)="setColor(i,selPrdtDetails?.prdt_attributes)"
            (click)="setColor(i,selPrdtDetails?.prdt_attributes)">
            <span title="{{prodAtr.colour.name}}" class="colors"
              [ngStyle]="{'background-color': prodAtr?.colour?.value,
              'border': (prodAtr?.colour?.value === '#ffffff' || prodAtr?.colour?.value === '#fff'
              || prodAtr?.colour?.value === 'white' || prodAtr?.colour?.value === 'rgb(255, 255, 255)')
              ? '1px solid grey' : ''}"></span>
          </span>
        </div>
        <div class="desktop__sizeDetails">
          <div>Size Details:</div>
          <div class="desktop__sizes">
            <span *ngFor="let size of sizeByColor; let i = index;" (click)="setSize(i)">
              <span class="size-button mr-2" title="{{size?.name}}"
                [ngClass]="{'highlight': selectedIndex === i}">{{size?.value}}</span>
            </span>
          </div>
        </div>

        <div class="specification">
          <h5 class="mt-5">SPECIFICATION</h5>
          <table class="table table-hover">
            <tr>
              <th class="Aileron-Bold">General</th>
              <th class="Aileron-Bold">Detail</th>
            </tr>
            <tr *ngFor="let item of selPrdtDetails?.frame_attributes">
              <td class="Aileron-SemiBold">{{item?.key_name}}</td>
              <td class="Aileron-Regular">{{item?.key_value}}</td>
            </tr>
          </table>
        </div>

        <div class="desktop__buttons">
          <div class="wishlist">
            <button class="btn btn-default">wishlist</button>
          </div>
          <div class="addBtn">
            <button class="btn btn-primary">add to cart</button>
          </div>
        </div>
      </div>

      <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="item" *ngFor="let image of mediaImage;let i = index" class="sider px-1 py-3">
              <div (mouseenter)="imageDetails(image,i)" class="pointer nav-images px-1 py-3">
                <img src={{image}} class="width-100" alt="{{i}}image not found">
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 my-5">
            <div *ngIf="defaultImage">
              <img src="{{coverImage}}" alt="glass" class="width-100">
            </div>
            <img *ngIf="!defaultImage" src="{{bigerImageView}}" alt="glas" class="width-100">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 px-3">
        <div class="detail-view my-3">
          <h1 class="product-title Aileron-Bold">{{selPrdtDetails?.brand}}</h1>
          <h3 class="product-sub-title Aileron-SemiBold">{{selPrdtDetails?.name}}</h3>
          <span class="product-price">₹ {{selPrdtDetails?.pricing?.sellingPrice}}</span>
          <p class="product-discription Aileron-Regular">
            {{selPrdtDetails?.description}}
          </p>
          <div>
            <span>COLOR</span>
            <span *ngFor="let proAtr of selPrdtDetails?.prdt_attributes; let i = index;"
              (click)="setColor(i,selPrdtDetails?.prdt_attributes)">
              <button class="color-circle mx-2" [ngStyle]="{'background-color': proAtr.colour.value}"
                [ngClass]="{'highlights': selectedColorIndex === i}">
              </button>
            </span><br><br>
            <span>SIZE</span>
            <span *ngFor="let size of sizeByColor; let i = index;" (click)="setSize(i)">
              <button class="size-button mx-2" title="{{size.name}}"
                [ngClass]="{'highlight': selectedIndex === i}">{{size.value}}</button>
            </span>
          </div>
          <h5 class="mt-5">SPECIFICATION</h5>
          <div>
            <table>
              <tr>
                <th class="Aileron-Bold">General</th>
                <th class="Aileron-Bold">Detail</th>
              </tr>
              <tr *ngFor="let item of selPrdtDetails?.frame_attributes">
                <td class="Aileron-SemiBold">{{item?.key_name}}</td>
                <td class="Aileron-Regular">{{item?.key_value}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div> -->

    </div>
  </div>
  <!--END DESKTOP VIEW -->

  <!-- START MOBILE VIEW -->


  <!-- <div class="mobileView">
    <div class="imgBlock">
      <div class="defaultImg" *ngIf="defaultImage">
        <img src="{{coverImage}}" alt="glass" class="width-100">
      </div>
      <div *ngIf="!defaultImage" class="mainImg">
        <img src="{{bigerImageView}}" alt="glas" class="width-100">
      </div>
      <div class="flex">
        <div *ngFor="let image of mediaImage;let i = index" (mouseenter)="imageDetails(image,i, true)"
          (click)="imageDetails(image,i, true)" class="pointer sider nav-images">
          <img src={{image}} class="width-100" [ngClass]="{'activeClass': indexSelected === i}"
            alt="{{i}}image not found">
        </div>
      </div>
    </div>

    <div class="prdocutDesc bottom-20">
      <div class="mb-2 heading">{{selPrdtDetails?.name}}</div>
      <div class="mb-2">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="mb-2">
        <span class="color">Colours:</span>
        <span *ngFor="let prodAtr of selPrdtDetails?.prdt_attributes; let i = index;"
          (click)="setColor(i,selPrdtDetails?.prdt_attributes)">
          <span title="{{prodAtr.colour.name}}" class="colors"
            [ngStyle]="{'background-color': prodAtr.colour.value}"></span>
        </span>
      </div>
    </div>
    <div class="pricing bottom-20">
      <div class="price mb-2">₹ {{selPrdtDetails?.pricing?.sellingPrice}}</div>
      <div class="offer mb-2">{{selPrdtDetails?.pricing?.discountPerc}}% offer</div>
      <div class="offer mb-2">{{selPrdtDetails?.pricing?.discountPerc}}% offer with lens free</div>
    </div>

    <div class="sizeDetails">
      <div>Size Details:</div>
      <div class="sizes">
        <span *ngFor="let size of sizeArray; let i = index;" (click)="setSize(i)">
          <span class="size-button mr-2" title="{{size.name}}"
            [ngClass]="{'highlight': selectedIndex === i}">{{size.value}}</span>
        </span>
      </div>
    </div>
  </div> -->


  <!-- END MOBILE VIEW -->


</div>