@import '../../../../variables.scss';
.loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 58, 62, 0.44);
  z-index: 1000;
  top: 0;
  overflow: hidden;
  z-index: 1200;
}

.loader {
  position: absolute;
  top: 45%;
  margin: auto;
  left: 0;
  right: 0;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid;
  border-top-color: red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 1200;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showLoadingScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideLoadingScreen {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.showLoadingScreen {
  animation: showLoadingScreen 0.3s;
}

.hideLoadingScreen {
  animation: hideLoadingScreen 0.8s;
}
