@import '../../../../../variables.scss';

.search-item{
  .mat-form-field {
      width: 90%;
  }
  .input-group-btn{
      position: relative;
      top: 1rem;
      float: right;
      button{
          border-radius: 0 !important;
          cursor: pointer;
          display: contents;
      }
  }
  .fa-search{
      color: $theme-purple;
  }
}

.mat-form-field {
  width: 100%;
  padding: 10px;  
}
.table-container {
    .empty-list{
      p{
        position: fixed;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        font-size: 20px;
      }
    }
      table {
          border: none;
          thead tr{
              color: white;
              background: $theme-purple;
              th{
                text-align: center;
              }
            }
            tbody{
              background: $white;
            }
            tbody tr {
              td{
                // text-align: left;
                span ul{
                  display: block;
                  float: right;
                  list-style: none;
                  i{
                    color: $theme-purple;
                    cursor: pointer;
                    &:hover{
                      color: $theme-purple;
                    }
                  }
                }
              }
              td.hover{
                width: 25%;
                text-align: left;
                @media screen and (max-width: 1024px) {
                  width: 100%;
                }
                span ul {
                  @media screen and (max-width: 756px) {
                    display: block;
                    float: right;
                    margin-top: -2px;
                  }
                }
              }
              &:hover{
                background: $theme-purple;
                color: white !important;
                span ul{
                  i{
                    color: white !important;
                  }
                }
              }
            }
      }
  }