<div class="top-20 text-center search-frame">
    <button class=" addBtn pull-right" (click)="triggerS3Upload()">Trigger Upload</button>
    <form [formGroup]="verifyForm" class="row col-12 top-30">
        <div class="col-12 pull-right">
            <div class="input-group search-item">
                <mat-form-field>
                        <input matInput placeholder="Enter Tag No" formControlName="tagNo" [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="verifyForm.controls['tagNo'].hasError('required')">Please enter Tag Number
                        </mat-error>
                    </mat-form-field><br>
                <div class="input-group-btn">
                    <button class="btn btn-default" (click)="searchProductByTagNo()" (keypress)="searchProductByTagNo()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="productsList?.length > 0" class="table-container container-fluid text-center">
        <table  class="table" style="width:100%;" border="1" cellspacing="0" cellpadding="2">
            <thead>
                <tr>
                    <!-- <th scope="col">Sr NO</th> -->
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Sizes</th>
                    <th scope="col">Product store SKU</th>
                    <th scope="col">Product TagName</th>
                    <th scope="col">Product Cover Image</th>
                    <th scope="col">Product Images</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="product-data">
                <tr *ngFor="let product of productsList; let i = index;">
                    <!-- <td data-label="Sr No">{{i+1}}</td> -->
                    <td data-label="Product Name">{{product?.name}}</td>
                    <td data-label="Product Sizes">
                            <span *ngIf="product?.prdt_attributes[0]?.colour?.size?.length <= 0">-</span>
                            <div *ngIf="product?.prdt_attributes[0]?.colour?.size?.length > 0">
                                <span *ngFor="let size of product?.prdt_attributes[0]?.colour?.size">
                                    <p *ngIf="size?.isSelected">{{size?.value}}</p>
                                </span>
                                <br>
                            </div>
                    </td>
                    <td data-label="Product store SKU">
                        <span *ngIf="product?.prdt_attributes[0]?.colour?.store[0]?.SKU?.length <= 0">-</span>
                        <div *ngIf="product?.prdt_attributes[0]?.colour?.store[0]?.SKU?.length > 0">
                            <p *ngFor="let SKU of product?.prdt_attributes[0]?.colour?.store[0]?.SKU">{{SKU}}</p>
                        </div>
                    </td>
                    <td data-label="Product TagName">{{verifyForm.controls['tagNo']?.value}}</td>
                    <td data-label="Product Cover Image" style="height: 100px;">
                        <span class="image-block pointer" outsideClick="true" style="margin-top:4px;"
                        (click)="showImageViewPopUp(imageView, product?.prdt_attributes[0]?.colour?.cover_img?.url)">
                            <img [src]="product?.prdt_attributes[0]?.colour?.cover_img?.url" width="90" height="100"> 
                        </span>
                    </td>
                    <td data-label="Product Images" style="margin-top:4px;display:flex;border:none;height: 100px;overflow: scroll;">
                        <div class="left-10" *ngFor="let media of product?.prdt_attributes[0]?.colour?.media">
                            <span class="image-block pointer" outsideClick="true"
                            (click)="showImageViewPopUp(imageView, media?.url)">
                                 <img [src]="media?.url" width="100" height="90"> 
                            </span>
                        </div>
                    </td>
                    <td data-label="Status">
                        <button (click)="verifyAndGenerateSKU(product)">Verify</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
                
</div>

<ng-template #imageView>
        <div class="imagePopWrapper">
            <img src="{{selImageViewUrl}}" class="width-100" alt="image not found">
        </div>
</ng-template>