<!-- <div class="flex-container ">
        <div class="app-body">
          <app-side-nav></app-side-nav>
        </div>
</div> -->
<div class="flex-container ">
  <div class="app-body">
    <app-shared-header></app-shared-header>
    <!-- <app-side-nav></app-side-nav> -->
    <router-outlet></router-outlet>
  </div>
</div>
      