@import "../../../../variables.scss";
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.76);
  z-index: 1000;
  top: 0;
  overflow: hidden;
}

.confirm {
  .dialog-box {
    position: absolute;
    top: 35%;
    margin: auto;
    left: 0;
    right: 0;
    width: 400px;
    background: #fff;

    @media screen and (max-width: 480px) {
      width: 310px;
    }

    .header {
      padding: 10px 20px;
      background: #46196f;
      display: flex;
      justify-content: space-between;

      .title {
        color: #fff;
      }
      i {
        color: #fff;
        float: right;
      }
    }

    .body {
      padding: 30px 15px 15px 15px;

      .icon {
        font-size: 33px;
        color: $grey-black;
      }

      .message {
        color: #313131;
        font-size: 14px;
      }
    }
    .footer {
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
