<div class="login-wrapper">
  <div class="text-center form-div">
    <div class="login-card">
      <div class="logo">
        <!-- <img src="./assets/common/home-logo.svg"> -->
      </div>
      <form [formGroup]="loginForm" class="mt-4">
        <!-- <h4 class="mt-3 mb-3" *ngIf="!showOtpView">Welcome back...!</h4> -->
        <mat-label>Enter the mobile number</mat-label><br>
        <mat-form-field class="mb-2 top-20">
          <input matInput placeholder="Mobile number" type="text" maxlength="10" formControlName="mobile" class="phonenunber"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="loginForm.controls['mobile'].hasError('required')"> Mobile number is required </mat-error>
          <mat-error *ngIf="loginForm.controls['mobile'].hasError('pattern')"> Enter valid Phone number
          </mat-error>
        </mat-form-field><br>
        <button type="button" class="btn btn-default genOTP" [disabled]="!loginForm.get('mobile').value" (click)="generateOtp()">{{otpText}}</button>
        <div class="otp-input-div" *ngIf="showOtpView">
          <mat-form-field class="mb-2">
            <input matInput placeholder="Enter OTP" autocomplete="off" maxlength="6" formControlName="otp">
            <mat-error *ngIf="loginForm.controls['otp'].touched && loginForm.controls['otp'].hasError('required')"> OTP
              is required </mat-error>
          </mat-form-field>
          <!-- <input matInput formControlName="otp" autocomplete="off" type="text" 
            (keypress)="numberOnly($event)" /> -->
          <button type='submit' class="btn btn-primary btn-embossed" [disabled]="loginForm.invalid"
            (click)="verifyOtpAndLogin()">Verify</button>
        </div>
      </form>
    </div>
  </div>
</div>