@import "../../../../../variables.scss";

.login-wrapper {
  height: 100vh;
  background: $theme-purple;
  width: 100%;
  letter-spacing: 1px;
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.login-card {
  padding: 5rem 3rem;
  @media screen and (max-width: 480px){
    padding: 5rem 1rem;
  }
  border-radius: 50px;
  background: white;
  margin: 0 auto;
}
button.btn.btn-default.genOTP {
  background: $theme-purple;
  color: #f9f9f9;
  text-transform: uppercase;
  letter-spacing: 1px;
  // border: 1px solid #f9f9f9;
}
.btn-primary {
  background-color: #f44336;
  border-color: #f44336;
  width: 200px;
  display: block;
  margin-top: 20px !important;
  margin: 0 auto;
}
.btn-primary:disabled {
  opacity: 0.3;
}
.logo {
  display: flex;
  width: 330px;
  justify-content: center;
  height: 80px;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  // mix-blend-mode: difference;
  background-color: $theme-purple;
  -webkit-mask: url('../../../../../assets/common/home-logo.svg') no-repeat center;
  img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
}
