<div class="frame-lookup-material-wrapper container">
    <div class="row width-100 mx-0">
        <div class="col-12 col-md-6 col-lg-6 px-0"></div>
        <div class="col-12 col-md-6 col-lg-6 text-align-right px-0">
            <button class="button" (click)="addframeMaterialModal(addFrameColor)">Create</button>
        </div>
    </div>
    <div class="mt-5">
        <div *ngIf="frameColorList?.length <= 0">
            <h3 class="noContent">No Records Found !!</h3>
        </div>
        <table *ngIf="frameColorList?.length > 0">
            <tr class="purple-background">
                <th>Actual Color</th>
                <th>Parent Color</th>
                <th>Hex Code</th>
                <th>Code</th>
                <th>Color</th>
            </tr>
            <tr *ngFor="let items of frameColorList">
                <td>{{items?.actualColour}}</td>
                <td>{{items?.parentColour}}</td>
                <td>{{items?.hexCode}}</td>
                <td>{{items?.XMCode}}</td>
                <td><div class="display-color" [ngStyle]="{'background-color': items?.hexCode}"></div></td>
            </tr>
        </table>
    </div>
</div>
<ng-template #addFrameColor>
        <div class="modal-header">
            <p class="modal-title pull-left">Create</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="add-frame-modal-wrapper text-align-center">
                <div class="my-5">
                    <form [formGroup]="frameColorForm" class=" mx-3">
                        <mat-form-field *ngIf="parentFrameColourLookupList?.length > 0" class="width-100">
                            <!-- <input matInput placeholder="Parent colour" formControlName="parentColour" [errorStateMatcher]="matcher" required> -->
                            <mat-select placeholder="Parent Colour" formControlName="parentColour"
                                [errorStateMatcher]="matcher" required>
                                <mat-option *ngFor="let parentColour of parentFrameColourLookupList" [value]="parentColour">{{parentColour}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="frameColorForm.controls['parentColour'].hasError('required')">Please select parent colour</mat-error>
                        </mat-form-field>
                        <div *ngIf="frameColorForm.controls['parentColour'].valid">
                            <mat-form-field class="width-100">
                                <input  matInput placeholder="Colour Name" formControlName="actualColour" [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="frameColorForm.controls['actualColour'].hasError('required')"> Actual Color is required</mat-error>
                                <mat-error *ngIf="frameColorForm.controls['actualColour'].hasError('pattern')">only text no special character and Number</mat-error>
                            </mat-form-field>
                            <mat-error *ngIf="frameColorForm.controls['parentColour'].hasError('required')"> parent color is required</mat-error>
                            <mat-form-field class="width-100">
                                <input matInput placeholder="Hex Code" [maxlength]="7" formControlName="hexCode" [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="frameColorForm.controls['hexCode'].hasError('required')"> Hex code is required</mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field class="width-100">
                                <input matInput placeholder="Code" [maxlength]="2" formControlName="XMCode" [errorStateMatcher]="matcher" required>
                                <mat-error *ngIf="frameColorForm.controls['XMCode'].hasError('required')">Code is <strong>required</strong></mat-error>
                            </mat-form-field> -->
                        </div>
                        <button mat-raised-button type="button" class="button mt-5 px-3"
                                [disabled]="frameColorForm.invalid" (click)="createMaterial()">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>