table {
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.display-color {
    border: 1px solid;
    width: 50%;
    height: 20px;
}
