<div class="createCtegoryWrapper container">
  <!-- <div class="update-div mx-5">
    <button (click)="update()" class="button">Update</button>
  </div> -->
    <div >
        <h1 class="my-5 Aileron-Bold" *ngIf="!isEditMode">CREATE CATEGORY</h1>
        <h1 class="my-5 Aileron-Bold" *ngIf="isEditMode">EDIT CATEGORY</h1>
        <form [formGroup]="categoryForm" ngSubmit="onSubmit()">
            <div >
                <!-- <mat-form-field class="col-5 col-sm-5 px-0">
                    <input matInput placeholder="name" formControlName="name" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="categoryForm.controls['name'].hasError('required')"> name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field><br> -->
                  <mat-form-field class="col-5 col-sm-5 px-0">
                    <mat-select placeholder="root Category" formControlName="name" required>
                      <mat-option class="Aileron-Regular"*ngFor="let list of categoryArr" [value]="list" (click)="SelectedCategory(list)">{{ list }}</mat-option>
                      </mat-select>
                    <mat-error *ngIf="categoryForm.controls['name'].hasError('required')"> name is required
                    </mat-error>
                  </mat-form-field><br>
            </div>
            <div *ngIf="categoryForm?.controls['childCategories']['controls'].length > 0">
                <h5 class="col-5 col-sm-5 Aileron-SemiBold" >sub-category Info (Eyeglasses, Sunglasses etc)</h5>
                <div class="row width-100"
                  *ngFor="let childCategories of categoryForm?.controls['childCategories']?.controls; let i=index">
                  <div class="col-5 col-sm-5 pr-0">
                    <mat-form-field class="col-12 col-sm-12 px-0">
                        <input matInput placeholder="name"
                          [formControl]="categoryForm.controls['childCategories']?.controls[i]?.controls['name']"
                          [errorStateMatcher]="matcher" required>
                        <mat-error
                          *ngIf="i>2 && categoryForm.controls['childCategories']?.controls[i]?.controls['name'].hasError('required')">
                          Please enter name.
                        </mat-error>
                      </mat-form-field><br>
                  </div>
                  <div class="col-2 col-sm-2 px-0">
                    <button *ngIf="i === 0" class="btn" (click)="addDynamicForm('childCategories')"><i
                        class="fa fa-plus-circle"></i></button>
                    <button *ngIf="i > 0" class="btn" (click)="removeDynamicForm('childCategories',i)"><i
                        class="fa fa-trash"></i></button>
                  </div>
                </div>
              </div>
              <br>
              <button type="submit" class=" button" *ngIf="!isEditMode" (click)="createCategory()">create</button>
              <button type="submit" class=" button" *ngIf="isEditMode"  (click)="updateCategory()">update</button>
        </form>
    </div>
</div>