<div class="text-align-center">
    <div class="my-5">
      <h1>{{!isEditMode ? 'Create new product' : 'Update Product' }}</h1>
      <form [formGroup]="frameCollectionForm" class=" mx-3">
        <div class="input-group search-item">
            <mat-form-field>
                <input  matInput placeholder="Enter Store customer code" formControlName="cust_code"
                [errorStateMatcher]="matcher"
                (keyup.enter)="searchStoreByCustCode(frameCollectionForm.controls['cust_code'].value)" required>
                <div class="input-group-btn">
                    <button class="btn btn-default" (click)="searchStoreByCustCode(frameCollectionForm.controls['cust_code'].value)" (keypress)="selectStore(frameCollectionForm.controls['cust_code'].value)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <mat-error *ngIf="frameCollectionForm.controls['cust_code'].hasError('required')"> Store Customer Code is
                    required
                </mat-error>
            </mat-form-field>
        </div>
    </form>
      <div *ngIf="isStoreExist">
        <form [formGroup]="productForm" class="row col-12">
            <div class="col-lg-6">
              <mat-form-field>
                <input matInput placeholder="name" formControlName="name" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="productForm.controls['name'].hasError('required')"> name is required
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="description" formControlName="description" [errorStateMatcher]="matcher"
                  required></textarea>
                <mat-error *ngIf="productForm.controls['description'].hasError('required')"> Description is
                  required
                </mat-error>
              </mat-form-field>
              <!-- <div class="left-10 text-left" *ngIf="isEditMode">
                SKU - <span>{{productForm.controls['SKU']?.value}}</span>
              </div> -->
              <div formGroupName="model">
                <mat-form-field>
                  <mat-select placeholder="Select Model" (selectionChange)="setModel($event)" formControlName="_id"
                    [errorStateMatcher]="matcher" required>
                    <mat-option *ngFor="let model of frameModelList" [value]="model?._id">{{model?.modelCode}}({{model?.name}})</mat-option>
                  </mat-select>
                  <mat-error *ngIf="productForm.controls['model']['controls']['_id'].hasError('required')">Please select model
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-form-field>
                <mat-select placeholder="gender" formControlName="gender"
                  (selectionChange)="loadAllCategoriesByGender($event)" [errorStateMatcher]="matcher" required>
                  <mat-option *ngFor="let gender of genderArr" [value]="gender">{{gender}}</mat-option>
                </mat-select>
                <mat-error *ngIf="productForm.controls['gender'].hasError('required')"> gender is required
                </mat-error>
              </mat-form-field>
              <!-- <mat-form-field>
                <mat-select placeholder="store" formControlName="sellerId" [errorStateMatcher]="matcher" required>
                  <mat-option *ngFor="let storeUser of storeUsersList" [value]="storeUser?._id">
                    {{storeUser?.ecpCust?.store?.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="productForm.controls['sellerId'].hasError('required')"> please select store
                </mat-error>
              </mat-form-field> -->
              <div formGroupName="category" *ngIf="selCategory?.childCategories?.length > 0">
                <mat-form-field formGroupName="childCategories">
                  <mat-select placeholder="Select Category" formControlName="categoryId"
                    (selectionChange)="setChildCategory($event)" [errorStateMatcher]="matcher" required>
                    <mat-option *ngFor="let childCat of selCategory.childCategories" [value]="childCat?._id?.categoryId">
                      {{childCat?._id?.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="productForm.controls['category']?.controls?.childCategories?.controls['categoryId'].hasError('required')">
                    Please select category
                  </mat-error>
                </mat-form-field>
              </div>
              <div formGroupName="brand" *ngIf="selCategory?.childCategories?.length > 0">
                <mat-form-field>
                  <mat-select placeholder="Select Brand" (selectionChange)="setBrand($event)" formControlName="_id"
                    [errorStateMatcher]="matcher" required>
                    <mat-option *ngFor="let brand of brandsList" [value]="brand?._id">{{brand?.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="productForm.controls['brand']?.controls['_id'].hasError('required')">Please select brand
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- <mat-form-field >
                    <input matInput placeholder="sellerId" formControlName="sellerId" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="productForm.controls['sellerId'].hasError('required')"> id <strong>required</strong>
                    </mat-error>
                  </mat-form-field> -->
              <div formGroupName="pricing">
                <mat-form-field>
                  <input type="text" matInput placeholder="price" [maxlength]="7" formControlName="sellingPrice" (keypress)="acceptNumOnly($event)"
                    [errorStateMatcher]="matcher" required>
                  <mat-error *ngIf="productForm.controls['pricing']['controls']['sellingPrice'].hasError('required')"> price
                    required
                  </mat-error>
                  <mat-error *ngIf="productForm.controls['pricing']['controls']['sellingPrice'].hasError('pattern')">only Number</mat-error>
                </mat-form-field>
                <!-- <mat-form-field>
                  <input type="text" matInput [maxlength]="7" placeholder="GKB Price" formControlName="gkbPrice" (keypress)="acceptNumOnly($event)"
                    [errorStateMatcher]="matcher" required>
                  <mat-error *ngIf="productForm.controls['pricing']['controls']['gkbPrice'].hasError('required')">GKB price
                    required
                  </mat-error>
                </mat-form-field> -->
              </div>
              <div *ngIf="productForm?.controls['product_info']['controls'].length > 0">
                <h5>Product Info (material, warranty, height, weight etc)</h5>
                <div class="prdt-info-container"
                  *ngFor="let product_info of productForm?.controls['product_info']?.controls; let i=index">
                  <div class="col-5 col-sm-5 no-padding">
                    <mat-form-field>
                      <input matInput placeholder="Info Label Name"
                        [formControl]="productForm.controls['product_info']?.controls[i]?.controls?.content?.controls['key_name']"
                        [errorStateMatcher]="matcher">
                      <mat-error
                        *ngIf="productForm.controls['product_info']?.controls[i]?.controls?.content?.controls['key_name'].hasError('required')">
                        Please enter product info name
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-7 col-sm-5">
                    <mat-form-field>
                      <input matInput placeholder="Info Label Value"
                        [formControl]="productForm.controls['product_info']?.controls[i]?.controls?.content?.controls['key_value']"
                        [errorStateMatcher]="matcher">
                      <mat-error
                        *ngIf="productForm.controls['product_info']?.controls[i]?.controls?.content?.controls['key_value'].hasError('required')">
                        Please enter product info value
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-2 col-sm-2 info-action-btns">
                    <button *ngIf="i === 0" class="btn" (click)="addDynamicForm('product_info')"><i
                        class="fa fa-plus-circle"></i></button>
                    <button *ngIf="i > 0" class="btn" (click)="removeDynamicForm('product_info',i)"><i
                        class="fa fa-trash"></i></button>
                  </div>
                </div>
              </div>
      
              <div *ngIf="productForm['controls']['frame_attributes']['controls'].length > 0">
                <h5>Frame Info (material, type, shape)</h5>
                <div class="prdt-info-container"
                  *ngFor="let frame_attributes of productForm?.controls['frame_attributes']?.controls; let i=index">
                  <div class="col-5 col-sm-5 no-padding">
                    <mat-form-field>
                      <input matInput placeholder="Frame"
                        [formControl]="productForm.controls['frame_attributes']?.controls[i]?.controls['key_name']"
                        [errorStateMatcher]="matcher" required>
                      <mat-error
                        *ngIf="i>2 && productForm.controls['frame_attributes']?.controls[i]?.controls['key_name'].hasError('required')">
                        Please enter frame details
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-7 col-sm-5"
                    [ngSwitch]="productForm.controls['frame_attributes']?.controls[i]?.controls['key_name'].value">
                    <div *ngSwitchCase="'Frame Material'">
                      <mat-form-field>
                        <mat-select placeholder="Select frame material"
                          (selectionChange)="setSelFrameDigitCode('Material', i, productForm.controls['frame_attributes']?.controls[i]?.controls['key_value'].value)"
                          [formControl]="productForm.controls['frame_attributes']?.controls[i]?.controls['key_value']"
                          [errorStateMatcher]="matcher" required>
                          <mat-option *ngFor="let frameMaterial of frameMaterialList" [value]="frameMaterial.name">
                            {{frameMaterial.name}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="productForm.controls['frame_attributes']?.controls[i]?.controls['key_value'].hasError('required')">
                          Please enter frame material details
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Frame Type'">
                      <mat-form-field>
                        <mat-select placeholder="Select frame type"
                          (selectionChange)="setSelFrameDigitCode('Type', i, productForm.controls['frame_attributes']?.controls[i]?.controls['key_value'].value)"
                          [formControl]="productForm.controls['frame_attributes']?.controls[i]?.controls['key_value']"
                          [errorStateMatcher]="matcher" required>
                          <mat-option *ngFor="let frameType of frameTypeList" [value]="frameType.name">{{frameType.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="productForm.controls['frame_attributes']?.controls[i]?.controls['key_value'].hasError('required')">
                          Please enter frame type details
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Frame Shape'">
                      <mat-form-field>
                        <mat-select placeholder="Select frame shape"
                          (selectionChange)="setSelFrameDigitCode('Shape', i, productForm.controls['frame_attributes']?.controls[i]?.controls['key_value'].value)"
                          [formControl]="productForm.controls['frame_attributes']?.controls[i]?.controls['key_value']"
                          [errorStateMatcher]="matcher" required>
                          <mat-option *ngFor="let frameShape of frameShapeList" [value]="frameShape.name">{{frameShape.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="productForm.controls['frame_attributes']?.controls[i]?.controls['key_value'].hasError('required')">
                          Please enter frame shape details
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div *ngSwitchDefault>
                      <mat-form-field>
                        <input matInput placeholder="frame desc"
                          [formControl]="productForm.controls['frame_attributes']?.controls[i]?.controls['key_value']"
                          [errorStateMatcher]="matcher" required>
                        <mat-error
                          *ngIf="productForm.controls['frame_attributes']?.controls[i]?.controls['key_value'].hasError('required')">
                          Please enter frame details
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-2 col-sm-2 info-action-btns">
                    <!-- <button *ngIf="i > 0 && i == 2" class="btn" (click)="addDynamicForm('frame_attributes')"><i
                        class="fa fa-plus-circle"></i></button>
                    <button *ngIf="i > 2" class="btn" (click)="removeDynamicForm('frame_attributes', i)"><i
                        class="fa fa-trash"></i></button> -->
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-lg-6">
              <div class="top-10" *ngIf="productForm?.controls['prdt_attributes']['controls']?.length > 0">
                <h5>Product Size, Colour, Images</h5>
                <div class="prdt-size-container"
                  *ngFor="let prdtAttribute of productForm?.controls['prdt_attributes']?.controls; let i=index">
                  <div class="row">
                    <div class="col-12 col-sm-5 no-padding">
                      <!-- <mat-form-field>
                        <input matInput placeholder="Colour Hex Code"
                          [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value']"
                          [errorStateMatcher]="matcher" required>
                        <mat-error
                          *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value'].hasError('required')">
                          Please enter product colour code
                        </mat-error>
                      </mat-form-field> -->
      
                      <mat-form-field>
                        <mat-select placeholder="Colour Hex Code" (selectionChange)="setColour(i, $event)"
                          [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value']"
                          [errorStateMatcher]="matcher" required>
                          <mat-option *ngFor="let colour of frameColourList" [value]="colour.hexCode">
                              {{colour.hexCode}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value'].hasError('required')">
                          Please enter product colour code
                        </mat-error>
                      </mat-form-field>
      
                    </div>
                    <div class="col-10 col-sm-5 no-padding">
                      <!-- <mat-form-field>
                        <input matInput placeholder="Colour Name"
                          [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['name']"
                          [errorStateMatcher]="matcher" required>
                        <mat-error
                          *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['name'].hasError('required')">
                          Please enter product colour name
                        </mat-error>
                      </mat-form-field> -->
      
                      <!-- <mat-form-field>
                        <mat-select placeholder="Colour Name"
                        [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['name']"
                          [errorStateMatcher]="matcher" required>
                          <mat-option *ngFor="let colour of frameColourList" [value]="colour.parentColour">
                            {{colour.parentColour}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['name'].hasError('required')">
                          Please enter product colour name
                        </mat-error>
                      </mat-form-field> -->
                      <div *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value'].valid" class="left-10">
                          <label>Colour Name </label>
                          <p class="content">{{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['name']?.value}}</p>
                    </div>
                    </div>
                    <div class="col-2 col-sm-2 info-action-btns">
                      <button *ngIf="i === 0" class="btn" (click)="addDynamicForm('prdt_attributes')"><i
                          class="fa fa-plus-circle"></i></button>
                      <button *ngIf="i > 0" class="btn" (click)="removeDynamicForm('prdt_attributes',i)"><i
                          class="fa fa-trash"></i></button>
                    </div>
                    <div class="col-12 product-img-wrapper">
                      <div class="col-5 col-sm-5 no-padding">
                        <mat-form-field>
                          <input matInput placeholder="Frame ID"
                            [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['frameId']"
                            [errorStateMatcher]="matcher">
                        </mat-form-field>
                      </div>
                      <div class="col-7 col-sm-7 no-padding">
                        <input accept=".jpg,.jpeg,.png" type="file" (change)="setFrameMedia(i, $event)" class="frameUpload" #frameImage
                            required />
                        <div class="imgBlock">
                            <img class="marks_img frameImageView"  (click)="frameImage.click()" [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['frame']?.controls['mediaFile'].value ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['frame']?.controls['mediaFile'].value : '/assets/common/uploadrect.svg'">
                        </div>
                        <mat-error *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['frame']?.controls['media'].hasError('required') && productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['frame']?.controls['media'].touched"> Frame Image
                                is required
                        </mat-error>
                        <label class="left-10">Frame Image</label>
                        <!-- <mat-form-field>
                            <mat-select multiple placeholder="Select Store" (selectionChange)="setStoreToPrdtAttr(i, $event)" [errorStateMatcher]="matcher" required>
                                <mat-option *ngFor="let storeUser of storeUsersList" [value]="storeUser">
                                  {{storeUser?.ecpCust?.store?.name}}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                      </div>
                    </div>
      
                    <div class="col-12 product-img-wrapper">
                      <div class="col-6 col-sm-2 filebtn">
                        <img class="marks_img"
                          [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['cover_img']?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['cover_img']?.value?.url : '/assets/common/uploadrect.svg'">
                        <input accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('cover_img',$event, i)"
                          class="upload" />
                        <label class="left-10">Cover Image</label>
                      </div>
                      <div class="col-6 col-sm-2 filebtn media-img image-1">
                        <img class="marks_img"
                          [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[0]?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[0]?.value?.url : '/assets/common/uploadrect.svg'">
                        <input accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('media',$event, i, 0)"
                          class="upload" />
                        <label class="left-10">Product Image 1</label>
                      </div>
                      <div class="col-6 col-sm-2 filebtn media-img">
                        <img class="marks_img"
                          [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[1]?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[1]?.value?.url : '/assets/common/uploadrect.svg'">
                        <input accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('media',$event, i, 1)"
                          class="upload" />
                        <label class="left-10">Product Image 2</label>
                      </div>
                      <div class="col-6 col-sm-2 filebtn media-img">
                        <img class="marks_img"
                          [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[2]?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[2]?.value?.url : '/assets/common/uploadrect.svg'">
                        <input accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('media',$event, i, 2)"
                          class="upload" />
                        <label class="left-10">Product Image 3</label>
                      </div>
                      <div class="col-6 col-sm-2 filebtn media-img">
                        <img class="marks_img"
                          [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[3]?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[3]?.value?.url : '/assets/common/uploadrect.svg'">
                        <input accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('media',$event, i, 3)"
                          class="upload" />
                        <label class="left-10">Product Image 4</label>
                      </div>
                    </div>
                    <div class="row cn-prdt-colour left-20 top-30 width-100">
                      <div class="col-12 top-20 bottom-10 text-align-left">Select Size</div>
                      <div class="col-4" class="sizeBox"
                        *ngFor="let prdtSize of productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls; let j=index">
                        <div class="col-12 col-sm-12">
                            <input class="mr-1" type="checkbox" id="CheckBoxSize_{{i}}{{j}}"
                            [checked]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['isSelected']?.value"
                            (change)="setProductSize($event, productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['value']?.value, i, j)">
                          <label for="CheckBoxSize_{{i}}{{j}}"
                            [ngStyle]="{ 'padding-left': productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['isSelected']?.value  ? '0px' : '10px' }">
                            {{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['value']?.value}}
                          </label>
                        </div>
                        <div
                          *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['isSelected']?.value "
                          class="col-12 col-sm-12">
                          <mat-form-field>
                            <input matInput placeholder="Quantity"
                              type="text" maxlength="7"
                              [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['quantity']"
                              (keypress)="acceptNumOnly($event)" [errorStateMatcher]="matcher" required>
                            <mat-error
                              *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['quantity'].hasError('required')">
                              Please enter quantity
                            </mat-error>
                            <mat-error *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['quantity'].hasError('pattern')">only Number</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="size"
                              type="text" maxlength="2"
                              [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['sizeValue']"
                              (keypress)="acceptNumOnly($event)" [errorStateMatcher]="matcher" required>
                            <mat-error
                              *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['sizeValue'].hasError('required')">
                              Please enter size
                            </mat-error>
                            <mat-error *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['sizeValue'].hasError('pattern')">only Number</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row cn-prdt-colour"
                    *ngFor="let prdtColour of productForm.controls['prdt_attributes']?.controls[i]?.controls['size']?.controls['colour']?.controls; let j=index">
                    <div class="col-sm-5 col-xs-6">
                      <mat-form-field>
                        <input matInput placeholder="Colour Hex Code"
                          [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['size']?.controls['colour']?.controls[j]?.controls['value']"
                          [errorStateMatcher]="matcher" required>
                        <mat-error
                          *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['size']?.controls['colour']?.controls[j]?.controls['value'].hasError('required')">
                          Please enter colour
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <mat-form-field>
                        <input matInput placeholder="Quantity"
                          [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['size']?.controls['colour']?.controls[j]?.controls['quantity']"
                          (keypress)="acceptNumOnly($event)" [errorStateMatcher]="matcher" required>
                        <mat-error
                          *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['size']?.controls['colour']?.controls[j]?.controls['quantity'].hasError('required')">
                          Please enter quantity
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-2 col-xs-2 info-action-btns">
                      <button *ngIf="j === 0" class="btn" (click)="addDynamicPrdtColourForm(i)"><i
                          class="fa fa-plus-circle"></i></button>
                      <button *ngIf="j > 0" class="btn" (click)="removeDynamicPrdtColourForm(i,j)"><i
                          class="fa fa-trash"></i></button>
                    </div>
                    <div class="col-xs-12 left-10">
                      <label class="right-10">Cover Image</label>
                      <input placeholder="coverImage" type="file" name="image"
                        (change)="uploadProductImage('cover_img', i, j ,$event)">
                    </div>
                    <div class="col-xs-12 left-10">
                                <div>
                                    <label class="right-10">Product Image1</label>
                                    <input placeholder="coverImage"  type="file" name="image" (change)="uploadProductImage('media', i, j,$event)">
                                </div>
                                <div>
                                    <label class="right-10">Product Image2</label>
                                    <input placeholder="coverImage"  type="file" name="image" (change)="uploadProductImage('media', i,j ,$event)">
                                </div>
                                <div>
                                    <label class="right-10">Product Image3</label>
                                    <input placeholder="coverImage"  type="file" name="image" (change)="uploadProductImage('media', i, j ,$event)">
                                </div>
                                <div>
                                    <label class="right-10">Product Image4</label>
                                    <input placeholder="coverImage"  type="file" name="image" (change)="uploadProductImage('media', i, j ,$event)">
                                </div>
                            </div>
                  </div> -->
                </div>
              </div>
            </div>
          </form>
      </div>
      <div class="row width-100">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-align-right">
          <button *ngIf="isStoreExist" class="mt-5 button" (click)="createProduct()">Create</button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-align-left">
          <button *ngIf="isStoreExist" class="mt-5 cancel-button" routerLink="framecollector/dashboard/product">Cancel</button>
        </div>
      </div>
    </div>
  </div>