@import '../../../../variables.scss';

.search-item{
    .mat-form-field {
        width: 90%;
    }
    .input-group-btn{
        position: relative;
        top: 15px;
        button{
            border-radius: 0 !important;
            cursor: pointer;
            display: contents;
        }
    }
    .fa-search{
        color: $theme-purple;
    }
  }
  .prdt-info-container{
    display: flex;
    .value{
        @media screen and (max-width: 767px){
            padding: 0px;
        }
    }
}
.content {
    background: white;
    color:black;
    padding: 5px;
    margin-left: 20px;
}
.prdt-size-container{
      label input {
        display: none;
      }
      label span {
        height: 10px;
        width: 10px;
        display: inline-block;
        position: relative;
        border: 1px solid $theme-purple;
        padding: 7px;
        margin-top: 13px;
      }
      [type=checkbox]:checked + span:before {
        content: '\2714';
        position: absolute;
        top: -5px;
        left: 0;
      }
    background: white;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    .cn-prdt-colour{
        
    }
}
.info-action-btns{
    padding: 0px;
    display: flex;
    margin-top: -6%;
    .btn{
        background: transparent;
        @media screen and (max-width: 767px){
            padding-right: 0px;                        
        }
        .fa{
            margin-top: 2px;
        }
    }
}
.product-img-wrapper{
    .filebtn{
        cursor: pointer;
    }
    @media screen and (min-width: 768px){
        display: flex;
    }
    @media screen and (max-width: 767px){
        display: contents;
    }
    img {
        width: 110px;
        height: 90px;
        object-fit: scale-down;
    }
    input.upload {
        position: absolute;
        top: 0;
        left: 24%;
        padding: 0;
        font-size: 10px;
        cursor: pointer;
        opacity: 0;
        width: 100px;
        height: 100px;
    }
    label{
        font-size: 10px;
    }
    .image-1 {
        @media screen and (min-width: 768px){
            margin-left: 10px;
        }
    }
    .media-img{
        @media screen and (min-width: 768px){
            margin-right: 10px;
        }
    }
}