<div class="top-20 text-center search-frame">
    <form [formGroup]="searchFrameForm" class="row col-12">
        <div class="col-12 pull-right">
            <div class="input-group search-item col-sm-5 col-md-4 pull-right">
                <mat-form-field>
                        <input matInput placeholder="Search By Tag No" formControlName="tagNo" [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="searchFrameForm.controls['tagNo'].hasError('required')">Please enter Tag Number
                        </mat-error>
                    </mat-form-field><br>
                <div class="input-group-btn">
                    <button class="btn btn-default" (click)="searchProductByTagNo()" (keypress)="searchProductByTagNo()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="selPrdtDetails && selPrdtDetails !== {}" class="row col-12 top-20">
    <div class="row col-12">
        <div class="col-lg-6">
            <!-- <div class="left-10 text-left">
                <label>SKU: </label>
                <span class="content">{{selPrdtDetails?.SKU}}</span>
            </div><br> -->
            <div class="left-10 text-left">
                <label>Name: </label>
                <span class="content">{{selPrdtDetails?.name}}</span>
            </div><br>
            <div class="left-10 text-left">
                <label>Description: </label>
                <span class="content">{{selPrdtDetails?.description}}</span>
            </div><br>     
            <div class="left-10 text-left">
                    <label>Gender: </label>
                    <span class="content">{{selPrdtDetails?.gender}}</span>
            </div><br>   
            <div class="left-10 text-left">
                <label>Category: </label>
                    <span class="content">{{selPrdtDetails?.childCatName}}</span>
            </div><br>
            <div class="left-10 text-left">
                <label>Model: </label>
                <span class="content">{{selPrdtDetails?.model?.name}}</span>
            </div><br>
            <div class="left-10 text-left">
                <label>Brand: </label>
                <span class="content">{{selPrdtDetails?.brand?.name}}</span>
            </div><br>
            <div  class="left-10 text-left">
                <label>Pricing: </label>
                <span class="content">{{selPrdtDetails?.pricing?.sellingPrice}}</span>
            </div><br> 
            <div *ngIf="isLoggedInUserAdmin && selPrdtDetails?.pricing?.gkbPrice" class="left-10 text-left">
                    <label>GKB Price: </label>
                    <span class="content">{{selPrdtDetails?.pricing?.gkbPrice}}</span>
            </div><br>   
            <form *ngIf="isLoggedInUserFrameModerator" [formGroup]="pricingForm">
                <div formGroupName="pricing">
                    <mat-form-field>
                        <input type="text" matInput [maxlength]="7" placeholder="GKB Price" formControlName="gkbPrice" (keypress)="acceptNumOnly($event)"
                        [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="pricingForm.controls['pricing']['controls']['gkbPrice'].hasError('required')">GKB price
                        required
                        </mat-error>
                    </mat-form-field>
                    <button class="button left-10" (click)="updateGkbprice()">Update</button>
                </div>
            </form>  
        </div>
        <div class="col-lg-6">
            <form [formGroup]="productForm">
                <div class="top-10" *ngIf="productForm?.controls['prdt_attributes']['controls']?.length > 0">
                <h5>Product Colour</h5>
                <div class="prdt-size-container"
                    *ngFor="let prdtAttribute of productForm?.controls['prdt_attributes']?.controls; let i=index">
                    <!-- <label>
                        <input type="checkbox" id="CheckBoxSize_{{i}}" 
                        (change)="addToMyStore($event, i, ['prdAttributeId'].value, productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value'])">
                        <span></span>
                    </label> -->
                    <div class="row">
                        <div class="col-12 product-img-wrapper no-padding">
                                <div class="col-sm-6">
                                    <mat-form-field *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']">
                                        <input matInput placeholder="Frame ID"
                                        [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['frameId']"
                                        [errorStateMatcher]="matcher">
                                    </mat-form-field>
                                    <mat-error
                                        *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit'] && productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['frameId'].hasError('required')">
                                        Please enter Frame ID
                                        </mat-error>
                                    <div *ngIf="!productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" class="left-10 text-left">
                                        <label>Frame ID: </label>
                                        <span class="content">{{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['frameId']?.value}}</span>
                                    </div>
                                </div>
                                <div *ngIf="tagNoStoreDetails?.frame" class="col-sm-6">
                                    <label>Frame Image: </label><br>
                                    <span class="image-block pointer" outsideClick="true"
                                    (click)="showImageViewPopUp(imageView,tagNoStoreDetails?.frame[0]?.media?.url)">
                                        <img [src]="tagNoStoreDetails?.frame[0]?.media?.url">
                                    </span>
                                </div>
                        </div>
                        <div class="col-12">
                            <label>
                                <input type="checkbox" id="CheckBoxSize_{{i}}" 
                                    (change)="toggleFrameMatching(i, $event)">
                                    <span class="pointer"></span>
                             </label>
                             <span class="left-10">Is Matching ?</span>
                        </div>
                        <div *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isFrameMatching']" class="col-12 product-img-wrapper no-padding">
                            <div *ngIf="!productForm?.controls['prdt_attributes']?.controls[i]['isEdit']">
                                <div class="col-12 product-img-wrapper no-padding">
                                    <!-- <div class="left-10 text-left col-sm-6">
                                            <label>Colour SKU: </label>
                                            <span class="content">{{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['SKU']?.value}}</span>
                                    </div> -->
                                        <!-- *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" -->
                                        <!-- <mat-form-field  >
                                            <mat-select placeholder="Select Store" (selectionChange)="setStoreToPrdtAttr(i, $event)" [errorStateMatcher]="matcher" required>
                                                <mat-option *ngFor="let storeUser of storeUsersList" [value]="storeUser">
                                                    {{storeUser?.ecpCust?.store?.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    <div *ngIf="tagNoStoreDetails" class="col-sm-6 left-10 text-left">
                                        <label>Store Name: </label>
                                        <span class="content">{{tagNoStoreDetails?.ecpUserId?.ecpCust?.store?.name}}</span> <br>
                                        <span class="content" style="position: relative;left: 3rem;">({{tagNoStoreDetails?.ecpUserId?.ecpCust?.cust_code}})</span>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-12 product-img-wrapper no-padding">
                                    <div class="col-sm-4">
                                        <mat-form-field *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']">
                                            <input matInput placeholder="Colour Hex Code"
                                                [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value']"
                                                [errorStateMatcher]="matcher" required>
                                            <mat-error
                                                *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value'].hasError('required')">
                                                Please enter product colour code
                                            </mat-error>
                                        </mat-form-field>
                                        <div  *ngIf="!productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" class="left-10 text-left">
                                            <label>Colour Code: </label>
                                            <span class="content">{{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['value']?.value}}</span>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="col-9 col-sm-4">
                                        <mat-form-field *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']">
                                                <input matInput placeholder="Colour Name"
                                                    [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['name']"
                                                    [errorStateMatcher]="matcher" required>
                                                <mat-error
                                                    *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['name'].hasError('required')">
                                                    Please enter product colour name
                                                </mat-error>
                                        </mat-form-field>
                                        <div *ngIf="!productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" class="left-10 text-left">
                                            <label>Colour Name: </label>
                                            <span class="content">{{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['name']?.value}}</span>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="col-2 col-sm-2 info-action-btns">
                                        <!-- <button *ngIf="i === 0" class="btn" (click)="addDynamicForm('prdt_attributes', i)"><i
                                            class="fa fa-plus-circle"></i></button>
                                        <button *ngIf="i > 0 && productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" class="btn" (click)="removeDynamicForm('prdt_attributes',i)"><i
                                            class="fa fa-trash"></i></button> -->
                                    </div>
                                    <br>  
                                </div>                               
                                <div class="row col-12">
                                    <div class="col-6 col-sm-2 filebtn">
                                        <img class="marks_img" [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['cover_img']?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['cover_img']?.value?.url : '/assets/common/uploadrect.svg'">
                                        <input *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']"  accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('cover_img',$event, i)" class="upload"  />
                                        <label class="left-10">Cover Image</label>  
                                        <!-- <mat-error style="white-space: nowrap;"
                                        *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['cover_img'].hasError('required')">
                                        Please upload cover image
                                        </mat-error>          -->
                                    </div>
                                    <div class="col-6 col-sm-2 filebtn media-img image-1">
                                        <img class="marks_img" [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[0]?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[0]?.value?.url : '/assets/common/uploadrect.svg'">
                                        <input *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('media',$event, i, 0)" class="upload" />
                                        <label class="left-10">Product Image 1</label>                      
                                    </div>
                                    <div class="col-6 col-sm-2 filebtn media-img">
                                        <img class="marks_img" [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[1]?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[1]?.value?.url ?.value?.url : '/assets/common/uploadrect.svg'">
                                        <input *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('media',$event, i, 1)" class="upload" />
                                        <label class="left-10">Product Image 2</label>                      
                                    </div>
                                    <div class="col-6 col-sm-2 filebtn media-img">
                                        <img class="marks_img" [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[2]?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[2]?.value?.url : '/assets/common/uploadrect.svg'">
                                        <input *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('media',$event, i, 2)" class="upload" />
                                        <label class="left-10">Product Image 3</label>                      
                                    </div>
                                    <div class="col-6 col-sm-2 filebtn media-img">
                                        <img class="marks_img" [src]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media']?.controls[3]?.value?.url ? productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['media'][3]?.controls?.value?.url : '/assets/common/uploadrect.svg'">
                                        <input *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" accept=".jpg,.jpeg,.png" type="file" (change)="setProductColourMedia('media',$event, i, 3)" class="upload" />
                                        <label class="left-10">Product Image 4</label>                      
                                    </div>
                                </div>
                                <div class="row cn-prdt-colour left-10">  
                                    <div class="col-12 top-20 bottom-10">Size :</div>
                                        <div class="size" *ngFor="let prdtSize of productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls; let j=index">
                                            <div class="col-6 col-sm-6">
                                                <label *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" [ngStyle]="{ 'padding-left': productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['isSelected']?.value  ? '0px' : '10px' }" >
                                                    <input type="checkbox" id="CheckBoxSize_{{i}}{{j}}" 
                                                    [checked]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['isSelected']?.value"
                                                        (change)="setProductSize($event, productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['value']?.value, i, j)">
                                                    <span></span>
                                                    <p>{{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['value']?.value}}</p>
                                                </label>
                                                <div *ngIf="!productForm?.controls['prdt_attributes']?.controls[i]['isEdit'] && productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['isSelected']?.value" class="text-left">
                                                    <span class="content">{{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['value']?.value}}</span>
                                                </div>
                                            </div>
                                            <div  *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['isSelected']?.value "class="col-6 col-sm-6">
                                                <mat-form-field *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isEdit']">
                                                <input matInput placeholder="Quantity"
                                                    [formControl]="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['quantity']"
                                                    (keypress)="acceptNumOnly($event)" [errorStateMatcher]="matcher" required>
                                                <mat-error
                                                    *ngIf="productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['quantity'].hasError('required')">
                                                    Please enter quantity
                                                </mat-error>
                                                </mat-form-field>
                                                <div *ngIf="!productForm?.controls['prdt_attributes']?.controls[i]['isEdit']" class="text-left">
                                                        <span class="content">{{productForm.controls['prdt_attributes']?.controls[i]?.controls['colour']?.controls['size']?.controls[j]?.controls['quantity']?.value}}</span>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="productForm?.controls['prdt_attributes']?.controls[i]['isFrameMatching']" class="col-12 text-center">
                        <button class="button" (click)="addToSelStore(null, i)" style="padding: 5px;"><i class="fa fa-plus right-10"></i>Add To Store</button>
                        <button *ngIf="isLoggedInUserAdmin && productForm?.controls['prdt_attributes']?.controls[i]['canRemove']" class="button" (click)="removeFromStore(null, i)" style="padding: 5px;"><i class="fa fa-trash right-10"></i>Remove</button>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>

<ng-template #imageView>
        <div class="imagePopWrapper">
            <img src="{{selImageViewUrl}}" class="width-100" alt="image not found">
        </div>
</ng-template>