@import "../../../../../variables.scss";

.add-btn {
  background: $theme-purple;
  border: 2px solid white;
  color: white;
  box-shadow: none;
  padding: 7px;
  border-radius: 10px !important;
}
.card-body {
  padding: 10px;
  .card-text {
    // background: #f9f9f9;
    // padding: 10px;
    // margin-bottom: 10px;
    span {
      background: #f9f9f9;
      padding: 5px 10px;
      border: 1px solid #cdcdcd;
      border-radius: 5px;
      margin: 0px 10px 10px 0px;
      display: inline-block;
    }
  }
}

.buttons {
  display: none;
  position: absolute;
  right: 10px;
}
.card:hover .buttons {
  display: block;
}
img.card-img-top {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  object-fit: contain;
}
.card {
  min-height: 250px;
  height: 100%;
  .imgBlock {
    height: 10rem;
    width: 100%;
    img {
      object-fit: fill;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
