<div class="container top-30">
    <div class="row">
        <div class="col-md-12">
            <button class="pull-right add-btn" (click)="navigateToCreate()">+ Add brand</button>
        </div>
    </div>
    <div *ngIf="brandList?.length <= 0">
        <h3 class="noContent">No Records Found !!</h3>
    </div>
    <div class="row top-30">
        <div class="col-md-4 col-lg-4 mb-3" *ngFor="let brand of brandList">
            <div class="card">
                <div class="imgBlock">
                     <img src="{{brand?.media?.url ? brand?.media?.url  : '../../../../../assets/common/no-image.jpg'}}"
                    class="card-img-top" alt="brandImage">
                </div>
                <div class="card-body">
                    <div class="buttons">
                        <button mat-mini-fab color="primary" class="pull-right"
                            [routerLink]="['item', brand?.brandId, brand?.name]">
                            <i class="material-icons">
                                edit
                            </i></button>
                        <!-- [routerLink]="['item', brand._id, brand.name']" -->
                        <!-- <button mat-mini-fab color="warn" class="pull-right mr-3" (click)="deleteBrand(brand)">
                            <i class="material-icons">
                                delete
                            </i>
                        </button> -->
                    </div>
                    <h5 class="card-title">{{brand?.name}}</h5>
                    <span>Code - {{brand?.code}}</span>                    
                    <p>{{brand.description}}</p>
                    <div class="card-text" *ngFor="let cat of brand.category">
                        <span> {{cat?._id?.path?.split('_')[0]}} </span>
                        <span>{{cat?._id?.name}} </span>
                        <!-- <span> {{cat._id?.categoryId}}</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>