table {
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tbody tr {
    td{
      text-align: left;
      span .nav-item{
        display: block;
        float: right;
        list-style: none;
        i{
        //   color: $grey-black;
          cursor: pointer;
          &:hover{
            // color: $grey-black;
          }
        }
      }
    }
    td.hover{
      width: 25%;
      text-align: left;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      span ul {
        @media screen and (max-width: 756px) {
          display: block;
          float: right;
          margin-top: -2px;
        }
      }
      // &:hover{
      //   cursor: pointer;
      //   span.status {
      //     width: 50%;
      //     float: left;
      //   }
      //   span ul {
      //     margin-bottom: 0px;
      //     display: block;
      //   }
      // }
      .right-menu.dropdown-menu {
        position: absolute;
        top: 70px;
        right: 0px;
        left: unset;
        li{
          position: relative;
        }
      }
    }
    &:hover{
    //   background: $grey-black;
    //   color: white !important;
      span ul{
        i{
        //   color: white !important;
        }
      }
    }
  }
  .status-dropdown{
    @media screen and (max-width: 1024px) {
      height: 180px !important;
    }
  }
  .collapsible-dropdown{
    position: absolute;
    background: white;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 4px;
    width: 150px;
    right: 0px;
    @media screen and (min-width: 1025px) {
      right: 25px;
    }
    .divider{
      border-bottom: 1px solid #afadad;
      width: 200px;
      margin-left: -16px;
      padding: 0px;
    }
    li{
      padding: 5px 0px;
    }
  }