<div class="tabs-wrapper top-30 col-12">
    <div>
        <mat-form-field class="col-12 col-md-3 col-lg-3 px-0">
          <mat-select placeholder="Select User" [(value)]="selected" >
            <mat-option class="Aileron-Regular"*ngFor="let list of user" [value]="list" (click)="userSelected(list)">{{ list }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
        <div class="mt-5 table-container container-fluid text-center" *ngIf="userDetailList?.length > 0">
        <table  class="table" style="width:100%;" border="1" cellspacing="0" cellpadding="2">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>User Id</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th *ngIf='showStoreCode'>Store Code</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let users of userDetailList">
                        <td data-label="Name">{{users?.name}}</td>
                        <td data-label="User Id">{{users?.userId}}</td>
                        <td data-label="Email">{{users?.email}}</td>
                        <td data-label="Phone Number">{{users?.mobile}}</td>
                        <td data-label="Store Code" *ngIf='showStoreCode'>{{users?.store_code}}</td>
                        <td data-label="Status" class="hover" (mouseleave)="collapsibleView = null" [ngClass]="{'status-dropdown':users?._id === collapsibleView}">
                            <span class="status">
                                {{(users?.auditFields?. isActive) ? 'Active' : 'Deactive'}}
                            </span>
                            <span >
                                <ul class="list-inline nav-item" >
                                    <!-- ... trigger collapsibleview .. -->
                                    <li class="pointer" (click)="collapsibleView?( (collapsibleView === users?._id) ? collapsibleView = null : collapsibleView = users?._id ): collapsibleView = users?._id">
                                        <i class="fa fa-ellipsis-v icon"></i>
                                    </li>
                                    <!-- ... trigger collapsibleview end .. -->
                                    <!-- ...collapsibleview.. -->
                                    <span class="col-xs-12 pointer collapsible-dropdown text-align-center py-2" *ngIf="users._id === collapsibleView" (click)="updateAdminVerifiedStatus(users)">
                                        <a>{{(users?.auditFields?. isActive ) ? 'Deactivate' : 'Activate'}}</a>
                                    </span>
                                    <!-- ...collapsibleview-end.. -->
                                </ul>
                            </span>
                        </td>
                    </tr>
                    </tbody>
            </table>
            
                    <div *ngIf="userDetailList?.length <= 0">
                            <h3 class="noContent">No Records Found !!</h3>
                    </div>
        </div> 
</div>