@import '../../../../../variables.scss';

.home-main-div {
    width: 100%;
}
.padding-20{
  padding: 20px;
}
#container {
    width: 100%;
    margin: 0 auto;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .buttons {
      margin-bottom: 20px;
    }
    .list li {
      width: 100%;
      border-bottom: 1px dotted #ccc;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .grid li {
      float: left;
      width: 20%;
      height: 50px;
      border-right: 1px dotted #ccc;
      border-bottom: 1px dotted #ccc;
      padding: 20px;
    }
    button.grid.fa.fa-th-large,
    button.grid.fa.fa-list {
      color: #ee4036;
      font-size: 30px;
      background: none;
      border: none;
      padding: 0;
    }
    span {
      img {
        height: 50px;
        width: 50px;
        padding: 8px;
      }
    }
    .boxShadow {
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    }
    .maxHeighNWidth {
      max-height: 150px;
      max-width: 100%;
    }
    .card-title {
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .productBody,
    .productListView,
    .productGridView {
      background: #46196f;
      color: #ffffff;
      padding-bottom: 10px;
    }
    .productListView {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .productGridView {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    img.lensImg {
      height: 100%;
      width: 100%;
      object-fit: fill;
      // border-radius: 10px;
    }
    .maxHeigthNWidth {
     // height: 200px;
      max-height: 250px;
      @media screen and (max-width: 767px){
        height: 250px;
      }
      max-width: 100%;
      padding: 0;
    }
    .card {
        border-radius: 10px;
      -webkit-box-shadow: 1px 1px 34px 8px rgba(227, 227, 227, 1);
      -moz-box-shadow: 1px 1px 34px 8px rgba(227, 227, 227, 1);
      box-shadow: 1px 1px 34px 8px rgba(227, 227, 227, 1);
      min-height: 365px;
    }
    .card-body.productBody {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .top {
      height: 80px;
      width: 100%;
      position: absolute;
      top: 0;
    }
    .checked {
      color: #ee4036;
    }
    span.fa.fa-star {
      margin-right: 5px;
    }
    .spacing {
      letter-spacing: 1px;
      font-weight: bold;
    }
    .width30 {
      // width: 32%;
      float: left;
      padding: 0 10px;
    }

    .options {
      position: absolute;
      right: 0;
      top: 90%;
      display: none;
      // letter-spacing: 30px;
      .fa {
        font-size: 25px;
        margin-right: 10px;
        &.fa-pencil {
          color: #cdcdcd;
        }
        &.fa-trash-o {
          color: red
        }
        &.fa-times {
          color: red
        }
        &.fa-check {
          color: green
        }
      }
  }
  .approved {
    position: absolute;
    top: 89%;
    padding: 5px;
    background: #ed4037;
    color: white;
    cursor: pointer;
    z-index: 200;
  }
  .notApproved {
    position: absolute;
      top: 89%;
      padding: 5px;
      background: #443c3b;
      color: white;
      cursor: pointer;
      z-index: 200;
  }
  .card:hover .options {
    display: block;
  }  
  .col-12{
    width: 100% !important;
  }
}

.notification-wrapper.top {
  top: 90px !important;
}


@media only screen and (max-width: 768px) {
  .width30 {
    width: 100% !important;
    // padding: 0px !important;
  }
  .productListView {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0 !important;
  }
}
@media only screen and (max-width: 450px) {
  // .width30 {
  //   width: 100% !important;
  // }
  // .right {
  //   float: none !important;
  // }
  // .mr-30 {
  //   margin: 0;
  // }
}
.filter{
  width: 250px;
  border: 1px solid #cdcdcd;
}
.addBtn{
  background: $theme-purple;
  border: 2px solid white;
  color: white;
  box-shadow: none;
  padding: 7px;
  border-radius: 10px !important;
}
.product-color-wrapper{
  position: relative;
  height: 50px;
  top: -35px;
  .colour{
    color: #666;
    border: 1px solid #666;
    float: right;
    position: relative;
    top: -2em;
    margin: 2px;
    padding: 0px;
    font-size: 13px;
    right: 10px;
    background: white;
    width: 65px;
    text-align: center;
  }
  .product-colours {
    width: 100%;
    display: flex;
    position: relative;
    top: 25px;
    .avail-colors{
      padding-right: 5px;
      position: relative;
      top: -2.7em;
      left: 10px;
      .prdt-colour{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid black;
      }
    }
  }
}
.product-size-wrapper{
  font-size: 13px;
  position: relative;
  top: -7px;
  .prdt-size-container{
    display: inline-table;
  }
}