<!-- <app-header></app-header> -->
<div class="top-30 padding-20">
  <div class=" row my-3 px-3">
    <div class="col-md-12 col-xs-12 pull-right">
      <div class="pull-left filter" *ngIf="(isAdmin || isEcpCustomer)">
        <mat-option>
          <mat-select placeholder="Filter by" *ngIf="isAdmin">
            <mat-option *ngFor="let filter of filters" (click)="filterBy(filter)">{{filter}}</mat-option>
          </mat-select>
          <mat-select placeholder="Filter by" *ngIf="isEcpCustomer">
            <mat-option *ngFor="let filter of filtersForEcp" (click)="filterBy(filter)">{{filter}}</mat-option>
          </mat-select>
        </mat-option>
      </div>
      <button (click)="navigateToPrdtCreatePage()" class="pull-right button">+
        New Product</button>
    </div>
    <div id="container">
      <div id="container" *ngIf="productList?.length <= 0">
        <h3 class="noContent">No Records Found !!</h3>
      </div>
      <!-- <div class="buttons" *ngIf="productList?.length > 0">
      <button class="grid" (click)="togglegridListView()"
        [ngClass]="listView === false ? 'fa fa-th-large' : 'fa fa-list'">
      </button>
    </div> -->

      <div class="col-12 no-padding">

        <!-- Grid View -->
        <div class="top-30" *ngIf="!listView && productList?.length > 0">
          <div class="gridding" [ngClass]="listView === false ? 'col-xs-12 col-sm-12 col-md-4 col-lg-3 width30' : 'col-12 col-sm-12'"
            *ngFor="let product of productList;let i= index">
            <div class="card mb-3">
              <div class="col-md-3 col-lg-3 maxHeigthNWidth">
                <div class="top">
                  <a [routerLink]="['#']"><span class="pull-right"><img src="/assets/common/heart-grey.png"
                        alt=""></span></a>
                  <a [routerLink]="['#']"><span class="pull-right"><img src="/assets/common/lens.png" alt=""></span></a>
                  <a [routerLink]="['#']"><span class="pull-left"><img src="/assets/common/trend.png" alt=""></span></a>
                  <a [routerLink]="['#']"><span class="pull-left"><img src="/assets/common/bestSeller.png"
                        alt=""></span></a>
                </div>
                <span *ngIf="isAdmin" class="pull-left specialOption" (click)="approvePrdtByAdmin(product)"
                  [ngClass]="(product?.isApproved === true) ? 'approved' : 'notApproved'">
                  {{product?.isApproved ? 'APPROVED' : 'NOT APPROVED'}}
                </span>
                <span *ngIf="isEcpCustomer || isFrameCollector" class="pull-left specialOption" (click)="activateDeactivatePrdt(product)"
                  [ngClass]="(product?.isActivate === true) ? 'approved' : 'notApproved'">
                  {{product?.isActivate ? 'ACTIVE' : 'DE-ACTIVE'}}
                </span>
                <img
                  src="{{product?.defaultCoverImgUrl ? 
                    product?.defaultCoverImgUrl : '../../../../../assets/common/no-image.jpg'}}"
                  class="lensImg" alt="cover_img">
                <div class="product-color-wrapper">
                    <div *ngIf="product?.prdt_attributes.length > 0">
                      <!-- <span class="colour" (click)="product.showColour = !product.showColour">{{getTotalPrdtColourCount(product?.prdt_attributes)}} {{productColourList?.length <= 1 ? 'Color': 'Colors'}}</span>        -->
                      <div class="product-colours">
                          <div  *ngFor="let attribute of product?.prdt_attributes;let i = index; let first = first;">
                              <!-- <div *ngIf="product.showColour"> -->
                                    <div class="avail-colors">
                                      <div class="prdt-colour" 
                                      [ngStyle]="{'background': attribute?.colour?.value,
                                      'border': (attribute?.colour?.value === '#ffffff' || attribute?.colour?.value === '#fff'
                                      || attribute?.colour?.value === 'white' || attribute?.colour?.value === 'rgb(255, 255, 255)')
                                      ? '1px solid grey' : ''}"
                                      (mouseover)="setProductImageSizeByColour(product, attribute)"
                                      (click)="setProductImageSizeByColour(product, attribute)"></div>
                                    </div>
                              <!-- </div> -->
                          </div>
                      </div>                                           
                    </div>
                </div>
                <div class="options">
                  <span class="pull-left specialOption pointer" (click)="navigateToPrdtUpdatePage(product)"><i class="fa fa-pencil"
                      aria-hidden="true"></i></span>
                  <!-- <span class="pull-left specialOption pointer" (click)="deleteProduct(product?._id)"><i class="fa fa-trash-o"
                      aria-hidden="true"></i></span> -->
                </div>
              </div>
              <div class="card-body productGridView">
                <h5 class="card-title">{{product?.name}}</h5>
                <div class="product-size-wrapper">
                    <span *ngIf="first">Size - </span>
                    <div *ngFor="let size of product?.defaultPrdtSizeList;let first = first;let last = last;" class="prdt-size-container">
                        <span *ngIf="size?.isSelected">{{size?.value}} {{!last ? ',' : ''}}</span>                                    
                    </div>
                  </div>
                <p class="card-text">
                  
                  <!-- <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span> -->

                  <span class="pull-right spacing">₹ {{product?.pricing?.sellingPrice}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End grid View -->

        <!--Start List View -->
        <!-- <div *ngIf="listView">
        <div class="listing" [ngClass]="listView === false ? 'col-md-6 col-lg-6' : 'col-xs-12 col-sm-12'"
          *ngFor="let product of products;let i=index">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4 col-xs-4 maxHeighNWidth">
                <img src="{{product.image}}" class="lensImg" alt="lens image">
              </div>
              <div class="col-md-8 col-xs-8 productListView">
                <div class="card-body">
                  <div class="pull-left">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </p>
                    <p class="card-text"><span class="pull-left spacing">₹ {{product.price}}</span> </p>
                  </div>
                  <div class="right pull-right">
                    <div class="topIcons">
                      <span class="pull-right specialOption" (click)="editProduct(i)"><img src="/assets/common/edit.svg"
                          alt=""></span>
                      <a [routerLink]="['#']"><span class="pull-right "><img src="/assets/common/heart-grey.png"
                            alt=""></span></a>
                      <a [routerLink]="['#']"><span class="pull-right mr-30"><img src="/assets/common/lens.png"
                            alt=""></span></a>
                    </div>
                    <div class="bottomIcons">
                      <span class="pull-right specialOption" (click)="deleteProduct(i)"><img
                          src="/assets/common/bin.svg" alt=""></span>
                      <a [routerLink]="['#']"><span class="pull-right "><img src="/assets/common/bestSeller.png"
                            alt=""></span></a>
                      <a [routerLink]="['#']"><span class="pull-right mr-30"><img src="/assets/common/trend.png"
                            alt=""></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
        <!-- End List View -->

      </div>

    </div>
  </div>