@import '../../../../variables.scss';

.customer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-image {
    width: 30px;
    height: 30px;
    // position: relative;
    // top: 57px;
}
.title-text {
    text-align: center;
    padding-top: 10px;
    // color: white;
}
.logo{
    img {
        width: 200px;
        @media screen and (max-width:768px){
            width: 150px;
        }
    }
}
.app-body {
    // min-height: calc(100vh - 50px);
    min-height: calc(100vh - 112px);
    display: flex;
    position: relative;
    // top: 50px;
  }
  .side-nav-item {
    padding: 1.75rem 0;
    cursor: pointer;
    display: flex;
    width: 10px;
    height: 10px;
  }
  .side-nav-list{
    display: flex;
    .sidenav-item{
      position: relative;
      top: 5px;
      left: 10px;
    }
  }
.content-div {
    text-align: center;
    .search-div {
        width: 100%;
        padding-top: 50px;
        .search-field {
            border-radius: 22px;
            width: 80%;
            outline: none;
            padding: 10px;
            background-color: #ab73de24;
            // color: white;
            border: none;
            box-shadow: 0 0px 3px rgb(154, 131, 131);
        }
    }
    .tab-div {
        padding-top: 30px;
    }
}
.imgBlock {
    // height: 250px;
    width: 100%;
    overflow: hidden;
    // margin-bottom: 25px;
    img {
        // height: 100%;
        @media screen and (max-width: 767px) {
            height: 200px;
        }
        width: 100%;
        display: block;
        border-radius: 10px;        
        @media screen and (min-width: 768px) {
            object-fit: cover;
            height: 300px;
        }
    }
    .catogory-caption{
        padding: 10px;
        display: block;
    }
}
// media query
.spectype-images-div {
    height: 260px;
    width: 100%;
    margin-bottom: 15px;
    background-size: cover !important;
    // padding-right: 4%;
    // padding-left: 14%;
}
@media only screen and (min-width: 768px) {
    .look-out-div {
        width: 100%;
       // height: 400px;
        margin-top: 50px;
        // background-color: white;
        .look-out-img-div{
            overflow: hidden;
            min-height: 250px;
    min-width: 250px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .look-out-img-div1{      
            display: flex;
            align-items: center;
            height: 400px;
            .look-text-div {
                flex: auto; 
                p {
                    color: #4f1a80;
                    font-size: 32px;
                }
                button {
                    padding: 10px 57px;
                    background-color: transparent;
                    color: #e68605;
                    border-color: #e68605;
                    outline: none;
                }
                button:focus {
                    outline: none;
                }
            }
        }
    }
    .general-div {
        margin: 50px 0 50px 0;
        .general-upper-box{
            width: 100%;
            height: 200px;
            border-radius: 10px;
            // border: solid black;
            outline: none;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            height: 200px;
            background: #6C4884;
        }
        .general-lower-box {
            margin-top: 30px;
            width: 100%;
            height: 200px;
            border-radius: 10px;
            // border: solid black;
            outline: none;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            height: 200px;
            background: #6C4884;
        }
        .general-inner-div{
            -webkit-box-flex: 1;
             flex: auto;
             position: relative;
             top: 10px;
             img {
                width:150px;
                 height:100px;
             }
             p{
                 margin-top: 20px;
             }
        }
    }
    .no-result-text {
        font-size: 24px;
        opacity: .2;
    }
}
//@media screen and (max-width: 767) and (min-width: 320px) 
@media only screen and (max-width: 767px) {
    .look-out-div {
        width: 100%;
        // min-height: 420px;
       // background-color: white;
        margin: 0px;
        margin-top: 20px;        
        .look-row-div {
            background-color: white;
            margin: 0;
        }
        .look-out-img-div{
            overflow: hidden;
            img {
                width: 100%;
                // height: 200px;
            }
        }
        .look-out-img-div1{      
            display: flex;
            align-items: center;
            height: 200px;
            background-color: white;
        }
        .look-text-div {
            flex: auto;
            p {
                color: #4f1a80;
                // font-size: 32px;
            }
            button {
                padding: 5px 8px;
                background-color: transparent;
                color: #e68605;
                border-color: #e68605;
                outline: none;
            }
            button:focus {
                outline: none;
            }
        }
    }
    .pl-0, .px-0 {
        padding-left: 0!important;
        padding-right: 0!important
    }
    .width-100 {
        width: auto;
    }
    .general-div {
        margin: 15px 0 25px 0;
        .general-upper-box{
            width: 100%;
            height: 100px;
            margin-top: 30px;
            border-radius: 10px;
            // border: solid black;
            outline: none;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            background: #6C4884;
        }
        .general-lower-box {
            margin-top: 30px;
            width: 100%;
            height: 100px;
            border-radius: 10px;
            // border: solid black;
            outline: none;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            background: #6C4884;
        }
        .general-inner-div{
            -webkit-box-flex: 1;
             flex: auto;
             position: relative;
             top: 10px;
             img {
                width:50px;
                 height:30px;
             }
             p {
                 margin-top: 20px;
             }
        }
    }
    .no-result-text {
        font-size: 16px;
        opacity: .2;
    }
}
p.white {
    font-size: 12px;
}
