<div class="main-div container  px-0">
  
  <app-header class="width-100" (clickOutside)="isIn = false;isCollapsedToggle()"></app-header>
  <div class="app-body home-wrapper">
    <mat-sidenav-container [hasBackdrop]="overlay"  class="side-nav-container">
      <!-- <mat-sidenav
        #sidenav
        mode="side"
        class="example-sidenav colorpurple"
        [ngStyle]="{ 'width.em': sidenavWidth }"
        opened="true"
        (mouseenter)="increase()"
        (mouseleave)="decrease()"
      >
        <mat-nav-list>
          <mat-list-item *ngFor="let menu of customerNavBarMenuList; let i = index">
            <div class="side-nav-list white" >
                <mat-icon mat-list-icon><img src="{{menu?.icon}}" ></mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <h5 class="lead ">{{ menu.name }}</h5>
                </div>
            </div>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav> -->
      <mat-sidenav-content width="100%" class="colorpurple">
        <div class="content-div ">
          <div class="search-div">
            <input type="search" class="search-field" placeholder="Find your look from over 5,000 frames
            ">
          </div>
          <div class="tab-div">
            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
              <mat-tab label="MEN">
                <ng-template matTabContent>
                  <div class="row width-100 top-30 noMargin" *ngFor="let items of catList">
                    <div class="col-6  col-sm-6 col-md-6 col-lg-6 col-xl-6 pointer" 
                    *ngFor="let val of items.childCategories" [routerLink]="['/collections', val?._id?.path]">
                      <div class="imgBlock" *ngIf="totalCount !== 0">
                        <img [src]="val?._id?.bannerImages?.url" alt="image not found">
                        <span class="catogory-caption">{{val?._id?.name}}</span>
                      </div>
                      <div *ngIf="totalCount === 0">
                        <p>Oops...! No Result found</p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label="WOMEN">
                <ng-template matTabContent>
                  <div class="row width-100 top-30 noMargin" *ngFor="let items of catList">
                    <div class="col-6  col-sm-3 col-md-6 col-lg-6 col-xl-6 pointer" *ngFor="let val of items.childCategories" [routerLink]="['/collections', val?._id?.path]">
                      <div class="imgBlock" *ngIf="totalCount !== 0">
                        <img [src]="val?._id?.bannerImages?.url" alt="image not found">
                        <span class="catogory-caption">{{val?._id?.name}}</span>
                      </div>
                      <div *ngIf="totalCount === 0">
                        <p>Oops...! No Result found</p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label="KIDS">
                <ng-template matTabContent>
                  <div *ngIf="totalCount == 0">
                    <p class="no-result-text">Oops...! No Result found</p>
                  </div>
                  <div class="row width-100 top-30 noMargin" *ngFor="let items of catList">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 " *ngFor="let val of items.childCategories" 
                    [routerLink]="['/collections', val?._id?.path]">
                      <div class="imgBlock" *ngIf="totalCount !== 0">
                        <img [src]="val?._id?.bannerImages?.url" alt="image not found">
                        <span class="catogory-caption">{{val?._id?.name}}</span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="col-12 look-out-div">
            <div class="width-100 look-row-div">
              <div class="look-out-img-div">
                <img src="./assets/common/home-banner.png">
              </div>
              <!-- <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 look-out-img-div1">
                <div class="look-text-div">
                  <p>LOOK OUT FOR</p>
                  <img src="./assets/common/contribution-cat.svg" alt="image not found">
                  <p>FOR A FREE</p>
                  <p>PAIR OF LENS</p>
                  <button>KNOW MORE</button>
                </div>
              </div> -->
            </div>
          </div>
          <div class="row col-12 general-div width-100">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pl-0">
              <div class="general-upper-box">
                <div class="general-inner-div">
                  <img width='150px' height="100px" src="./assets/common/accessories.svg">
                  <p class="">Accessories</p>
                </div>
              </div>
              <div class="general-lower-box">
                <div class="general-inner-div">
                  <img width='150px' height="100px" src="./assets/common/Offer.svg">
                  <p class="">Generate Offer Code</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pr-0">
              <div class="general-upper-box">
                <div class="general-inner-div">
                  <img width='150px' height="100px" src="./assets/common/services.svg">
                  <p class="">Services</p>
                </div>
              </div>
              <div class="general-lower-box">
                <div class="general-inner-div">
                  <img width='150px' height="100px" src="./assets/common/Mojo-guarantee.svg">
                  <p class="">The Mojo guarantee</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>