table {
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .imgBlock {
    height: 150px;
    width: 150px;
  }
  .marks_img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  .upload {
    position: absolute;
    top: 241px;
    left: 7%;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
    opacity: 0;
    width: 150px;
    height: 122px;
}