<div class="catogeryLIsting-wraper container top-30">
    <div class="row">
        <div class="col-md-12">
            <button class="pull-right button" routerLink="/admin/dashboard/category/create" >create catogery</button>
        </div>
    </div>
    <div class="row top-30">
        <div class="col-md-4 col-lg-4 mb-3" *ngFor="let category of rootCategoryList">
            <div class="card">
                <div class="card-body">
                    <div class="buttons">
                        <button mat-mini-fab color="primary" class="pull-right" [routerLink]="[ category?.categoryId]">
                            <i class="material-icons">edit</i></button>
                            
                        <button mat-mini-fab color="warn" class="pull-right mr-3" (click)="deleteBrand(category?._id)">
                            <i class="material-icons">delete</i></button>
                    </div>
                    <h5 class="card-title Aileron-Bold">{{category?.name}}</h5>
                    <div class="card-text" *ngFor="let cat of category.childCategories">
                        <span class="Aileron-Regular"> {{cat?._id?.path?.split('_')[0]}} </span>
                        <span class="Aileron-Regular">{{cat?._id?.name}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>