@import '../../../../../variables.scss';

.card-body {
	padding: 10px;
	.card-text {
		// background: #f9f9f9;
		// padding: 10px;
		// margin-bottom: 10px;
		span {
			background: #f9f9f9;
			padding: 5px 10px;
			border: 1px solid #cdcdcd;
			border-radius: 5px;
			margin: 0px 10px 10px 0px;
			display: inline-block;
		}
	}
}

.buttons {
	display: none;
}
.card:hover .buttons {
	display: block;
}

.update-div {
    float: right;
}