@import './variables.scss';
@font-face {
  font-family: "Aileron-Bold";
  src: url("./assets/fonts/Aileron-Bold.otf");
}
@font-face {
  font-family: "Aileron-Light";
  src: url("./assets/fonts/Aileron-Light.otf");
}
@font-face {
  font-family: "Aileron-Regular";
  src: url("./assets/fonts/Aileron-Regular.otf");
}
@font-face {
  font-family: "Aileron-SemiBold";
  src: url("./assets/fonts/Aileron-SemiBold.otf");
}
@font-face {
  font-family: "Aileron-ThinItalic";
  src: url("./assets/fonts/Aileron-ThinItalic.otf");
}
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("./assets/fonts/MyriadPro-Bold.otf");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("./assets/fonts/MyriadPro-Regular.otf");
}
/* You can add global styles to this file, and also import other style files */
*:focus{
  outline: none;
}
body{
    background-color: #ffffff;
    font-family: 'Muli', sans-serif;
}
.colorpurple{
  background: $theme-purple;
  color: white;
}
.color-white{
  color: white;
}
a{ text-decoration:  none !important;
  color: $theme-blue-dark; 
  &:hover{
    color: $theme-purple;
    }
  }
button{
    border-radius: 5px !important;
    outline: none;
    box-shadow: none !important;
    &:focus {
        outline: none !important;
    }
}

.btn-primary {
    background-color: $theme-purple;
    border-color: $theme-purple;
    &:hover, &:active, &:focus {
        background-color: $theme-blue-dark;
        border-color: $theme-blue-dark;
    }
}
.btn-primary:hover:active, .btn-primary:hover:focus {
    background-color: $theme-blue-dark;
    border-color: $theme-blue-dark;
}
.no-outline {
    outline: none;
    &:focus {
        outline: none !important;
    }
}
.pointer {
    cursor: pointer;
}

// ............COMMON LIST CARD - MANIPULATED FOR DIFFERENT COMPONENTS AS REQUIRED.....................
.list-item-card{
  margin-top: 25px;
  margin-bottom: 5px;
  background: #ffffff;
  padding: 20px 20px;
}

/* common padding and margin css */

  .top-10 {
    margin-top: 10px;
  }
  
  .top-20 {
    margin-top: 20px;
  }
  
  .top-30 {
    margin-top: 30px !important;
  }
  
  .top-40 {
    margin-top: 40px;
  }
  
  .top-60 {
    margin-top: 60px;
  }
  
  .bottom-10 {
    margin-bottom: 10px;
  }
  
  .bottom-20 {
    margin-bottom: 20px;
  }
  
  .bottom-30 {
    margin-bottom: 30px;
  }

  .left-10{
    margin-left: 10px;
  }
  .left-20{
    margin-left: 20px;
  }
  .right-10{
    margin-right: 10px;
  }
  .right-20{
    margin-right: 20px;
  }
  .padding-20 {
    padding: 20px;
  }
  
  .padding-30 {
    padding: 30px;
  }

  .right{
    float: right;
  }
  .no-padding {
    padding: 0px !important;
  }

  // .........Table in mobile view .........
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    .table-container {
      table,
      thead,
      tbody,
      th,
      td,
      tr {
          display: block;
      }
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      tr {
          margin-bottom: 10px;
          padding: 5px;
          // border: 1px solid #ccc;
          -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
      }
      td {
          /* Behave  like a "row" */
         // border: none;
          border-bottom-color: rgba(0, 0, 0, .12);
          position: relative;
          padding-left: 50% !important;
          height: 30px;
          overflow: hidden;
          white-space: nowrap;
          padding: 0px;
      }
      td:before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          overflow: hidden;
      }
      /*
  Label the data
  */
      td:nth-of-type(1):before {
        content: attr(data-label);
      }
      td:nth-of-type(2):before {
        content: attr(data-label);
      }
      td:nth-of-type(3):before {
        content: attr(data-label);
      }
      td:nth-of-type(4):before {
        content: attr(data-label);
      }
      td:nth-of-type(5):before {
        content: attr(data-label);
      }
      td:nth-of-type(6):before {
        content: attr(data-label);
      }
      td:nth-of-type(7):before {
        content: attr(data-label);
      }
      td:nth-of-type(8):before {
        content: attr(data-label);
      }
      td:nth-of-type(9):before {
        content: attr(data-label);
      }
      td:nth-of-type(10):before {
        content: attr(data-label);
      }
    }

  }

  .table-container {
    .empty-list{
      p{
        position: fixed;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        font-size: 20px;
      }
    }
      table {
          border: none;
          thead tr{
              color: white;
              background: $theme-purple;
              th{
                text-align: center;
              }
            }
            tbody{
              background: $white;
            }
            tbody tr {
              td{
                // text-align: left;
                span ul{
                  display: block;
                  float: right;
                  list-style: none;
                  i{
                    color: $theme-purple;
                    cursor: pointer;
                    &:hover{
                      color: $theme-purple;
                    }
                  }
                }
              }
              td.hover{
                width: 25%;
                text-align: left;
                @media screen and (max-width: 1024px) {
                  width: 100%;
                }
                span ul {
                  @media screen and (max-width: 756px) {
                    display: block;
                    float: right;
                    margin-top: -2px;
                  }
                }
              }
              &:hover{
                background: $theme-purple;
                color: white !important;
                span ul{
                  i{
                    color: white !important;
                  }
                }
              }
            }
      }
      .collapsible-dropdown{
        position: absolute;
        background: white;
        border: 1px solid rgb(156, 156, 156);
        border-radius: 4px;
        width: 200px;
        right: 0px;
        color: #000;
        @media screen and (min-width: 1025px) {
          right: 25px;
        }
        .divider{
          border-bottom: 1px solid #afadad;
          width: 200px;
          margin-left: -16px;
          padding: 0px;
        }
        li{
          padding: 5px 0px;
        }
      }
      
      .status-dropdown{
        @media screen and (max-width: 1024px) {
          height: 180px !important;
        }
      }
    
  }

  // ............COMMON MODAL - MANIPULATED FOR DIFFERENT COMPONENTS AS REQUIRED.....................
  
  @media (max-width: 767px){
    .modal {
      top: 6rem;
    }
  }
  .modal-header{
    background-color:$theme-purple;
    padding: 15px;
    color: #fff;
    .close{
      color: #fff;
      opacity: 1;
    }
  }

  .modal-title {
    margin-left: 20px;
  }

  @media (min-width: 768px){
      .modal-dialog {
      width: 800px !important;
      margin-top: 5rem !important;
      margin: 0px auto;
    }
  }

// ..... DATE PICKER MODIFIED ...............//
// show date picker in modal
bs-datepicker-container{
    z-index: 1051;
}

.theme-green .bs-datepicker-head {
  background-color: $blue;
}
// ----- UI SELECT MODIFIED ------- //
.ui-select-container{
  .ui-select-match{
    overflow: hidden;
  }
  @media screen and (max-width: 991px) {
    .ui-select-match-text {
      font-size: 11px;
    }
    .ui-select-choices-row{
      a{
        font-size: 11px;
      }
    }
  }
}
// ----- ANGULAR2 MULTISELECT MODIFIED------- //
.packet-list-dropdown{
    .cuppa-dropdown{
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .selected-list{
      .c-list .c-token{
        background: $blue;
        color:white;
      }
    }
    .dropdown-list{
      z-index: 999;
        .pure-checkbox input[type="checkbox"] + label::before {
            width: 19px;
            height: 18px;
            background: $blue;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

// ----------------------------- coustom css start------------------------------------------
.Aileron-Bold {
  font-family: Aileron-Bold, Arial, Helvetica, sans-serif;
}
.Aileron-Light {
  font-family: Aileron-Light, Arial, Helvetica, sans-serif;
}
.Aileron-Regular {
  font-family: Aileron-Regular, Arial, Helvetica, sans-serif;
}
.Aileron-SemiBold {
  font-family: Aileron-SemiBold, Arial, Helvetica, sans-serif;
}
.Aileron-ThinItalic {
  font-family: Aileron-ThinItalic, Arial, Helvetica, sans-serif;
}
.MyriadPro-Bold {
  font-family: MyriadPro-Bold, Arial, Helvetica, sans-serif;
}
.MyriadPro-Regular {
  font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif;
}
.font-10 {
  font-size: 10px;
}
.mat-tab-labels {
  justify-content: center;
}
.home-wrapper .mat-tab-label .mat-tab-label-content {
  color: white;
}
.home-wrapper .mat-tab-group.mat-primary .mat-ink-bar{
  background: white !important;
}
.mat-tab-header, .mat-tab-nav-bar{
  border: none;
}
html, body { height: 100%; }
body {
   margin: 0; 
   }
.width-100 {
  width:100%;
}
.white {
  color: white;
}
.red {
  color: #ee4036;
}
.purple {
  color: #46196f;
}
.orange {
  color: #f48120;
}
.red-background {
  background-color: #ee4036;
  color: white;
}
.purple-background {
  background-color: #46196f;
  color: white;
}
.orange-background {
  background-color: #f48120;
  color: white;
}
.no-result-text {
  font-size: 32px;
  opacity: .2;
}
.noPad{
  padding: 0 !important;
}
.noMargin{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.flex {
  display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.mr-30 {
  margin-right: 30px;
}
.pointer {
  cursor: pointer;
}
.center { margin: 0 auto}
.noContent {
  color: #cdcdcd;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  .login-wrapper .mat-form-field-infix {
    width: 328px !important;
  }
  }
  @media only screen and (max-width: 768px) {
    .mat-form-field-infix {
      width: 303px !important;
    }
  }
  .app-sidenav { display: flex; }
  .mat-drawer-container { 
    flex: 1 1 auto; 
    // display: block;
    //  height: 100%; 
    }
    .mat-drawer.mat-drawer-side {
      position: fixed;
      top: 62px;
    }
// .main { height: 100%; overflow-y: auto; }
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(23, 33, 43, 0.32);
  z-index: 2;
  cursor: pointer;
}
.button {
  background-color: #46196f;
  color: #fff;
  padding: 5px;
  width:120px;
  border: 2px solid white;
  border-radius: 5px !important;
}
.cancel-button {
  background-color: #ee4036;
  color: #fff;
  padding: 5px;
  width:120px;
  border: 2px solid white;
  border-radius: 5px !important;
}
.custom-dialog-container3 .mat-dialog-container {
  width: 30vw !important;
  height: 40vw !important;
  position: absolute !important;
  float: right !important;
  right: 0 !important;
}

// bootstrap carousel custom css //
.carousel-control{
  background: transparent !important;
  font-size: 41px !important;
  opacity: 1 !important;
  color: $theme-purple !important;
}
.single-thumbnail-slider {
  .carousel-indicators{
    li {
      background: #ccc;
      .active {
        background: $theme-purple !important;
      }
    }
  }
}
.custom-error { 
  position: relative;
    top: -17px;
    text-align: left;
    font-size: 75%;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}
.md-input.has-error input:focus, select:focus, input:active, select:active  {
  border-bottom: none !important;
  box-shadow: none !important;
}
.md-input input:focus, select:focus, input:active, select:active  {
  border-bottom: none !important;
  box-shadow: none !important;
}