// $theme-blue : #4048c0;
$theme-purple : #3a556f;
$theme-blue-dark : #274258;
$sky-blue : #89c6a4;
$sky-blue-btn:#76cea3;
$dark-sky-blue: #8cb9bd;
$dark-green : #377954;
$grey-tile-color: #f3f7fa;
$grey-dashboard-body: #f4f8f9;
$dashboard-body: #f0f0f0;
$grey-light: #a3a2a2;
$white: #ffffff;
$side-nav-toggle: #424242;

$gmail-btn: #dc4e41;
$carousel-font: #cdceee;
$grey: #9c9c9c;
$grey-border-color: #CDCDCD;
$grey-divider-color: #D9D9D9;
$progress-bar-green: #6AC259;
$status-btn-color: #A93241;


$blue: #039BE5;
$navbar-grey: rgba(31, 32, 65, 0.5);
$grey-black: #1b1b1b;
$light-red: #ee4036;


$theme-purple : #46196f;
$white: #ffffff;
$red: #ee4036;
$Orange: #f48120;

