<div class="main-div">
  <app-header (clickOutside)="isIn = false;isCollapsedToggle()" ></app-header>
</div>
<div class="top-30">
  <div id="container" *ngIf="productList?.length <= 0">
    <h3 class="noContent">No Records Found !!</h3>
  </div>
  <div id="container" *ngIf="productList?.length > 0">
    <!-- <div class="buttons left-20">
      <button class="grid" (click)="listView = !listView"
        [ngClass]="listView === false ? 'fa fa-th-large' : 'fa fa-list'"></button>
    </div> -->

    <div class="prd-wrapper">
      <div>
        <div [ngClass]="listView === false ? 'col-md-4 col-lg-3 width30' : 'col-xs-12 col-sm-12'"
          class="pointer" *ngFor="let product of productList">
          <!-- Start Grid View -->
          <div *ngIf="!listView" class="card mb-3">
            <div class="col-md-3 col-lg-3 maxHeigthNWidth">
              <div class="top">
                <a [routerLink]="['#']"><span class="pull-right"><img src="/assets/common/heart-grey.png"
                      alt=""></span></a>
                <a [routerLink]="['#']"><span class="pull-right"><img src="/assets/common/lens.png" alt=""></span></a>
                <a [routerLink]="['#']"><span class="pull-left"><img src="/assets/common/trend.png" alt=""></span></a>
                <a [routerLink]="['#']"><span class="pull-left"><img src="/assets/common/bestSeller.png"
                      alt=""></span></a>
              </div>
              <img [routerLink]="['/collections', product?.category?.childCategories?._id?.path, product?.productId, product?.name]"
              src="{{product?.defaultCoverImgUrl ? 
                product?.defaultCoverImgUrl : '../../../../../assets/common/no-image.jpg'}}"
              class="lensImg" alt="cover_img">
            <div class="product-color-wrapper">
                <div *ngIf="product?.prdt_attributes.length > 0">
                  <!-- <span class="colour" (click)="product.showColour = !product.showColour">{{getTotalPrdtColourCount(product?.prdt_attributes)}} {{productColourList?.length <= 1 ? 'Color': 'Colors'}}</span>        -->
                  <div class="product-colours">
                      <div  *ngFor="let attribute of product?.prdt_attributes;let i = index; let first = first;">
                          <!-- <div *ngIf="product.showColour"> -->
                                <div class="avail-colors">
                                  <div class="prdt-colour" 
                                  [ngStyle]="{'background': attribute?.colour?.value,
                                    'border': (attribute?.colour?.value === '#ffffff' || attribute?.colour?.value === '#fff'
                                    || attribute?.colour?.value === 'white' || attribute?.colour?.value === 'rgb(255, 255, 255)')
                                    ? '1px solid grey' : ''}"
                                  (mouseover)="setProductImageSizeByColour(product, attribute)"
                                  (click)="setProductImageSizeByColour(product, attribute)"></div>
                                </div>
                          <!-- </div> -->
                      </div>
                  </div>                                           
                </div>
            </div>
            </div>
            <div [routerLink]="['/collections', product?.category?.childCategories?._id?.path, product?.productId, product?.name]" 
            class="card-body productGridView">
              <h5 class="card-title">{{product?.name}}</h5>
              <div class="product-size-wrapper">
                  <span *ngIf="first">Size - </span>
                  <div *ngFor="let size of product?.defaultPrdtSizeList;let first = first;let last = last;" class="prdt-size-container">
                      <span *ngIf="size?.isSelected">{{size?.value}} {{!last ? ',' : ''}}</span>                                    
                  </div>
              </div>
              <p class="card-text">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>

                <span class="pull-right spacing">₹ {{product?.pricing?.sellingPrice}}</span>
              </p>
            </div>
          </div>
          <!-- End Grid View -->
          <!--Start List View -->
          <div *ngIf="listView" class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4 col-xs-4 maxHeighNWidth">
                <img src="{{product?.prdt_attributes[0]?.colour?.cover_img?.url ? 
                  product?.prdt_attributes[0]?.colour?.cover_img?.url : '../../../../../assets/common/no-image.jpg'}}" class="lensImg" alt="lens image">
              </div>
              <div class="col-md-8 col-xs-8 productListView">
                <div class="card-body">
                  <div class="pull-left">
                    <h5 class="card-title">{{product?.name}}</h5>
                    <p>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </p>
                    <p class="card-text"><span class="pull-left spacing">₹ {{product?.pricing?.sellingPrice}}</span> </p>
                  </div>
                  <div class="right pull-right">
                    <div class="topIcons">
                      <a [routerLink]="['#']"><span class="pull-right "><img src="/assets/common/heart-grey.png"
                            alt=""></span></a>
                      <a [routerLink]="['#']"><span class="pull-right mr-30"><img src="/assets/common/lens.png"
                            alt=""></span></a>
                    </div>
                    <div class="bottomIcons">
                      <a [routerLink]="['#']"><span class="pull-right "><img src="/assets/common/bestSeller.png"
                            alt=""></span></a>
                      <a [routerLink]="['#']"><span class="pull-right mr-30"><img src="/assets/common/trend.png"
                            alt=""></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End List View -->
        </div>
      </div>
      <!-- End grid View -->

      <!--Start List View -->
      <!-- <div *ngIf="listView" class="center">
        <div [ngClass]="listView === false ? 'col-md-6 col-lg-6' : 'col-xs-12 col-sm-12'" *ngFor="let product of productList">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4 col-xs-4 maxHeighNWidth">
              <img src="{{product.cover_img}}" class="lensImg" alt="lens image">
              </div>
              <div class="col-md-8 col-xs-8 productListView">
                <div class="card-body">
                  <div class="pull-left">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </p>
                    <p class="card-text"><span class="pull-left spacing">₹ {{product.price}}</span> </p>
                  </div>
                  <div class="right pull-right">
                    <div class="topIcons">
                      <a [routerLink]="['#']"><span class="pull-right "><img src="/assets/common/heart-grey.png" alt=""></span></a>
                      <a [routerLink]="['#']"><span class="pull-right mr-30"><img src="/assets/common/lens.png"alt=""></span></a>
                    </div>
                    <div class="bottomIcons">
                      <a [routerLink]="['#']"><span class="pull-right "><img src="/assets/common/bestSeller.png" alt=""></span></a>
                      <a [routerLink]="['#']"><span class="pull-right mr-30"><img src="/assets/common/trend.png" alt=""></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End List View -->

    </div>

  </div>
</div>