@import '../../../../variables.scss';

.customer-header {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding: .7rem 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #46196f;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 9999;
    color: white;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.menu-image {
    width: 30px;
    height: 30px;
    // position: relative;
    // top: 57px;
}
.title-text {
    text-align: center;
    padding-top: 10px;
    // color: white;
}
.logo{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    img {
        width: 200px;
        @media screen and (max-width:768px){
            width: 150px;
        }
    }
}

.side-nav-container{
    .side-nav {
        position: fixed;
        left: -200px;
        width: 200px;
        z-index: 10000;
        height: 100%;
        background-color: $theme-purple;
        color: white;
        transition: ease-in-out 0.2s;
        font-size: 10px;
        overflow-y: auto;
        .side-nav-container{
          overflow-y: auto;
          height: 100%;
          padding-bottom: 60px;
          width: 200px;
        }
    }
}

// @media screen and (max-width: 991px) {
      
          .side-nav-toggle{
            display: block;
            text-align: right;
            margin-top: 2px;
            font-size: 20px;
            padding: 10px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            color: white;
            margin-left: 10px;
            span{
                background: #1b1b1b;
                height: 4px;
            }
          }
// }

  .side-nav.open{
      left: 0px !important;
      // display: block !important;
  }

.tab-container{
    .nav-tabs{
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-bottom: none;
        .nav-item:hover, .nav-item:focus , .nav-link:hover, .nav-link:focus {
          background: transparent;
          border-color: transparent;
        }
        .nav-link.active {
          border: none;
          border-bottom: 3px solid white; 
          color: rgba(31, 32, 65, 0.75);
        }
        .nav-item:hover {
            background: transparent;
        }
        .nav-link {
            font-family: Muli;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #000;
            @media screen and (min-width: 992px ) and (max-width: 1250px){
                font-size: 10.5px;
            }
        }
        .tab-right-sec {
            float: right;
            right: 10px;
            .btn {
                background: transparent;
                box-shadow: none;
                font-family: Muli;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                letter-spacing: 0.05em;
                color: rgba(0, 0, 0, 0.69);
                .fa {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 31px;
                    position: relative;
                    top: 3px;
                }
            }
            .dropdown-menu {
                padding: 0px;
                border: none;
                li {
                    padding: 0px;
                    text-align: center;
                    &:not(:last-child) {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
            .dropdown-menu > li > a {
                padding: 5px 20px;
                    &:hover,
                    &:focus {
                        background: #000;
                        color: #fff;
                }
            }
        }
    }
    @media screen and (max-width: 991px){
        display: none;
        opacity: 0;
        visibility: hidden;  
      }
  }

  