<nav class="customer-header">
  <a *ngIf="authService.loggedIn()" (clickOutside)="isIn = false;isCollapsedToggle()" class="navbar-brand pointer">
    <img class="menu-image" #navbarToggler (click)="isIn = !isIn;isCollapsedToggle()" src="./assets/common/menu_x.svg" alt="image not found">
  </a>
  <a [routerLink]="['/']" class="logo pointer"><img src="./assets/common/home-logo.png"></a>
  <div *ngIf="!authService?.loggedIn()"class="pull-right">
      <button class="btn color-white" [routerLink]="['/auth']">Login</button>
  </div>
</nav>

<div class="side-nav-container">
    <div class="side-nav" [ngClass]="isIn ? 'open' : ''">
        <app-side-nav ></app-side-nav>            
      </div>
</div>