<div class="frame-lookup-material-wrapper container">
    <div class="row width-100 mx-0">
        <div class="col-12 col-md-6 col-lg-6 px-0"></div>
        <div class="col-12 col-md-6 col-lg-6 text-align-right px-0">
            <button class="button" (click)="addframeMaterialModal(addFrameMaterial)">Create</button>
        </div>
    </div>
    <div class="mt-5">
        <table *ngIf="frameMaterialList?.length > 0">
            <tr class="purple-background">
                <th>Material</th>
                <th>Code</th>
                <th>Image</th>
            </tr>
            <tr *ngFor="let items of frameMaterialList">
                <td>{{items?.name}}</td>
                <td>{{items?.code}}</td>
                <td><img src="{{items?.media?.url}}" alt="image not found" class="widyh-100" height="50px"></td>
            </tr>
        </table>
        <div *ngIf="frameMaterialList?.length <= 0">
            <h3 class="noContent">No Records Found !!</h3>
        </div>
    </div>
</div>
<ng-template #addFrameMaterial>
    <div class="modal-header">
        <p class="modal-title pull-left">Create</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="add-frame-modal-wrapper text-align-center">
            <div class="my-5">
                <form [formGroup]="frameMaterialForm" class=" mx-3">
                    <mat-form-field class="width-100">
                        <input matInput placeholder="Name" maxlength="30" formControlName="name"
                            [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="frameMaterialForm.controls['name'].hasError('required')"> name is required
                        </mat-error>
                        <mat-error *ngIf="frameMaterialForm.controls['name'].hasError('pattern')">only text no special
                            character and Number</mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field class="width-100">
                                <input matInput placeholder="Code" type="text" [maxlength]="1" formControlName="code" [errorStateMatcher]="matcher" (keyup)="checkCodeAvailability($event)" required>
                                <mat-error *ngIf="frameMaterialForm.controls['code'].hasError('required')"> Code is <strong>required</strong></mat-error>
                            </mat-form-field>
                            <p *ngIf="codeExist" class="red custom-error">code exist</p> -->

                            <!-- <div>
                                <label class="block">Media</label>
                                <input accept=".jpg,.jpeg,.png" #filePick type="file" (change)="setMedia($event)" class="upload"
                                    required />
                                <mat-error *ngIf="frameMaterialForm.controls['media'].hasError('required') && frameMaterialForm.controls['media'].touched"> Image
                                    is required
                                </mat-error>
                                <div class="imgBlock">
                                    <img class="marks_img" [src]="imagePreview ? imagePreview : '/assets/common/uploadrect.svg'"
                                        (click)="filePick.click()">
                                </div>
                            </div> -->
                    <button mat-raised-button type="button" class="button mt-5 px-3"
                        [disabled]="frameMaterialForm.invalid" (click)="createMaterial()">submit</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>